@charset "UTF-8";
@import url("/css/font.css");

:root {
  --primary: #6D6AFE;
  --red: #FF5B56;
  --black: #111322;
  --white: #FFFFFF;
  --gray-1: #373740;
  --gray-2: #9FA6B2;
  --gray-3: #CCD5E3;
  --gray-4: #E7EFFB;
  --gray-5: #F0F6FF;
}

/* 메인배너 */
.banner {
  background-color: #F0F6FF;
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.banner .user {
  margin-bottom: 20px;
}

.banner .avatar {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.banner .bookmark {
  display: flex;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 60px;
}

.banner .star {
  display: block;
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

/* 컨텐츠 */
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

search-bar {
  margin-top: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  margin: 40px 0 100px;
  gap: 24px 20px;
}
