@charset "UTF-8";
@import url("font.css");

/* 인풋박스 자동완성 시 색상 변환 */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
    box-shadow: 0 0 0px 1000px #fff inset;
}

/* 레이아웃 */
body {
  background-color: #f0f6ff;
  font-size: 14px;
}

.signin-up-wrapper {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 238px 32px 158px;
  max-width: 400px;
  margin: 0 auto;
}

/* 로고 */
.signin-up-title {
  display: block;
  width: 210px;
  height: 38px;
  background-image: url(../img/Linkbrary.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 16px;
}

/* 로그인하러 가기 */
.signin-up-link-container {
  font-size: 16px;
  margin-bottom: 30px;
}

.signin-up-link {
  color: #6d6afe;
  margin-left: 10px;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

/* 회원가입 폼 */
.signin-up-container {
  width: 100%;
}

/* 아이디,비밀번호 입력창 */
.user-email-text,
.user-password-text,
.user-passwordverify-text {
  margin-bottom: 10px;
}

.user-email,
.user-password,
.user-passwordverify {
  height: 55px;
  border-radius: 10px;
  border: 1px solid #ccd5e3;
  padding: 15px;
}

.user-email:focus,
.user-password:focus,
.user-passwordverify:focus {
  outline: none;
  border: 1px solid #6d6afe;
}

.user-email {
  margin-bottom: 24px;
  width: 100%;
}

.user-password,
.user-passwordverify {
  margin-bottom: 30px;
  width: 100%;
}

/* 패스워드 가시성 버튼 */
.user-password-container,
.user-passwordverify-container {
  position: relative;
}

.toggle-password, .toggle-passwordverify {
  position: absolute;
  top: 33px;
  right: 10px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #4B5563;
}

/* 회원가입 버튼 */
.submit-btn {
  width: 100%;
  height: 54px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #6d6afe, #6ae3fe);
  color: #f5f5f5;
  font-size: 18px;
  cursor: pointer;
}

/* 비밀번호 찾기 */
.findPassword {
  color: #3e3e43;
  margin-top: 16px;
}

/* 소셜 로그인 */
.sns-signin-up-container {
  display: flex;
  width: 100%;
  height: 66px;
  border-radius: 10px;
  background-color: #e7effb;
  border: 1px solid #ccd5e3;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  margin-top: 32px;
}

.sns-signin-up-container .text {
  font-size: 14px;
  color: #3e3e43;
}

.sns-signin-up-btn {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin-right: 16px;
}

.sns-signin-up-btn img {
  width: 100%;
}

.sns-signin-up-btn:last-child {
  margin: 0;
}

@media (max-width: 767px) {
  .signin-up-wrapper {
    padding-top: 120px;
    padding-bottom: 138px;
    min-width: 300px;
  }
}
