@charset "UTF-8";
@import url("/css/font.css");

/*header*/
.header {
  position: sticky;
  top: 0;
  background-color: #f0f6ff;
}

.header .container {
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 94px;
}

.header .logo {
  width: 136px;
  height: 32px;
  background-image: url(../img/Linkbrary.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header .login-btn {
  width: 128px;
  height: 53px;
  background-image: linear-gradient(to right, #6d6afe, #6ae3fe);
  border-radius: 8px;
  color: white;
  line-height: 55px;
  font-size: 18px;
  text-align: center;
}

/*banner*/
.banner {
  background-color: #f0f6ff;
}

.banner .container {
  text-align: center;
  padding-top: 70px;
}

.banner .title {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 40px;
}

.banner .main-img {
  width: 1118px;
  vertical-align: bottom;
}

.banner .highlight {
  background: linear-gradient(to right, #6d6afe, #ff9f9f);
  color: transparent;
  -webkit-background-clip: text;
}

.banner .link-btn {
  display: block;
  margin: 0 auto;
  width: 351px;
  background-image: linear-gradient(to right, #6d6afe, #6ae3fe);
  border-radius: 8px;
  color: white;
  line-height: 55px;
  font-size: 18px;
  margin-bottom: 60px;
}

/*content*/
.content .container {
  padding-top: 120px;
  width: fit-content;
  margin: 0 auto;
}

.card {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 1000px;
  height: 450px;
}

.card .title {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 20px;
}

.card .title .line-break {
  display: block;
}

.card .desc {
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6b;
  word-break: keep-all;
  width: 277px;
}

.card .desc .line-break {
  display: block;
}

.card img {
  width: 550px;
}

.card:nth-child(2n) .title {
  order: 1;
}

.card:nth-child(2n) .desc {
  order: 2;
}

.card:nth-child(2n) img {
  order: 0;
}

.card:nth-child(1) .highlight {
  background: linear-gradient(to right, #fe8a8a, #a4ceff);
  color: transparent;
  -webkit-background-clip: text;
}

.card:nth-child(2) .highlight {
  background: linear-gradient(to right, #6fbaff, #ffd88b);
  color: transparent;
  -webkit-background-clip: text;
}

.card:nth-child(3) .highlight {
  background: linear-gradient(to right, #6d7ccd, #96abc9);
  color: transparent;
  -webkit-background-clip: text;
}

.card:nth-child(4) .highlight {
  background: linear-gradient(to right, #79d8ed, #99b8d6);
  color: transparent;
  -webkit-background-clip: text;
}

/*footer*/
.footer {
  background-color: #111322;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 160px;
  padding: 30px 104px 0;
}

.copyright {
  color: #676767;
}

.info {
  color: #cfcfcf;
}

.icons {
  display: flex;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 13px;
  display: flex;
  align-items: center;
}

/*타블렛*/
@media (max-width: 1199px) {
  .container {
    padding: 0 32px;
  }

  .header .container {
    width: 800px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .header .logo {
    width: 133px;
  }

  .header .login-btn {
    width: 128px;
    height: 53px;
    font-size: 16px;
    line-height: 53px;
  }

  .banner .container {
    padding-top: 40px;
  }

  .banner .main-img {
    width: 650px;
  }

  .banner .line-break {
    display: block;
  }

  .content .container {
    padding-top: 80px;
  }

  .card {
    width: 685px;
    height: 315px;
  }

  .card .desc {
    width: 250px;
  }

  .card img {
    width: 385px;
  }

  .card .title {
    font-size: 45px;
  }
}

@media (max-width: 868px) {
  .header .container {
    width: 100%;
  }
}

/*모바일*/
@media (max-width: 767px) {
  .header .container {
    height: 64px;
  }

  .header .logo {
    width: 80px;
  }

  .header .login-btn {
    width: 80px;
    height: 37px;
    font-size: 14px;
    line-height: 37px;
  }

  .banner .container {
    padding-top: 28px;
  }

  .banner .title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 20px;
  }

  .banner .main-img {
    width: 100%;
  }
  
  .banner .link-btn {
    width: 200px;
    font-size: 14px;
    line-height: 37px;
    margin-bottom: 30px;
  }

  .content .container {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .card {
    width: 100%;
    height: fit-content;
    margin-bottom: 80px;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card img:nth-child(1n) {
    width: 100%;
    margin-bottom: 20px;
    order: 1;
  }

  .card .title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .card .title .line-break {
    display: inline;
  }

  .card .desc {
    font-size: 15px;
    order: 2;
    width: 100%;
  }

  .card .desc .line-break {
    display: inline;
  }

  .copyright {
    position: absolute;
    bottom: 32px;
    left: 32px;
  }

  .footer .container {
    position: relative;
    padding: 32px;
  }

  .info {
    width: 100%;
    display: flex;
  }

  .FAQ {
    margin: 0 auto;
  }
}

@media (max-width: 375px){
  .header .container {
    width: 375px;
  }
  .banner .container {
    width: 375px;
  }
  .content .container {
    width: 375px;
  }
  .footer .container {
    width: 375px;
  }
}
