* {
  margin: 0;
  padding: 0;
}

.user {
  background-color: #f0f6ff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user .icon {
  padding-top: 20px;
  margin-bottom: 20px;
}

.user .favorite {
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 60px;
}

main {
  max-width: 1060px;
  width: cal(100% - 380px);
  margin: 40px auto 99px;
}

main .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /*----------------------- header ---------------------------*/
  main {
    max-width: 704px;
  }
  main .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  /*-------------------------header----------------------*/
  main {
    max-width: 325px;
  }
  main .container {
    grid-template-columns: 1fr;
  }
}
