@import url("../global_style.css");

* {
  font-family: "Pretendard-Regular";
}

body {
  background-color: #f0f6ff;
  margin: 12.3rem auto 0;
}

main {
  max-width: 40rem;
  text-align: center;
}

.linkbrary-logo {
  height: 3.8rem;
}

.signup-prompt {
  padding: 16px 0;
}

form label {
  display: block;
  text-align: left;
}

form input {
  width: 100%;
}

@media screen and (max-width: 767px) {
  main {
    margin: 0 32px;
  }
}
