@use "/src/styles/variables" as var;

.optionListContainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-height: 172px;
  overflow-y: scroll;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 8px;
  border-radius: 8px;
  &:hover,
  &.selected {
    background-color: var.$gray-1;
    .optionTitle {
      color: var.$primary;
    }
  }
}

.optionContainer {
  display: flex;
  align-items: center;
  padding: 0px;
}

.optionTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var.$black;
}

.optionDetail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var.$gray-4;
}

.selectedIconBox {
  position: relative;
  width: 14px;
  height: 14px;
}
