p {
  margin: 0;
}

.navbar {
  z-index: 1;
  position: fixed;
  inset: 0;
  height: 9.4rem;
  background-color: var(--navbar-background);
}

.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 20rem;
  max-width: 1920px;
  height: 9.4rem;;
}

.navbar-container .logo img {
  width: 13.3rem;
}

.navbar-container #gnb-login-button {
  cursor: pointer;
  width: 12.8rem;
  text-align: center;
  border-radius: 0.8rem;
  padding: 1.6rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray6);
  background: linear-gradient(90deg, var(--primary), var(--light-primary));
}

#gnb-profile {
  display: none;
  justify-content: end;
  gap: 0.6rem;
  text-align: center;
  line-height: 2.8rem;
  font-size: 1.4rem;
}

#gnb-profile .img-container {
  cursor: pointer;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 70%;
  overflow: hidden;
}

.img-container #profile-img {
  width: 2.8rem;
  height: 2.8rem;
  object-fit: cover;
}

#gnb-profile #profile-email {
  color: var(--profile-email);
}

@media (min-width: 768px) and (max-width: 1199px) {
  .navbar .navbar-container {
    max-width: 86.4rem;
    padding: 2rem 3.2rem;
  }
}

@media (max-width: 767px) {
  .navbar {
    height: 6.3rem;
    margin: 0;
    padding: 0 3.2rem;
  }

  .navbar .navbar-container {
    padding: 1.3rem 0;
  }

  .navbar-container .logo img {
    width: 7.7rem;
  }
  
  .navbar-container #gnb-login-button {
    width: 8rem;
    padding: 1rem 0;
    font-size: 1.4rem;
  }

  #gnb-profile #profile-email {
    display: none;
  }
}
