@use "/src/styles/variables" as var;

a.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  height: 35px;

  background: var.$white;
  /* Linkbrary/primary-color */

  border: 1px solid var.$primary;
  border-radius: 5px;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: background 0.2s ease;

  &:hover {
    background: var.$gray-2;
  }

  @media only screen and (max-width: 768px) {
    height: 29px;
    font-size: 14px;
    line-height: 17px;
  }
}

a.selected {
  background: var.$primary;
  color: var.$white;
}
