.main-container {
  max-width: 106rem;
  width: cal(100% - 38rem);
  margin: 4rem auto 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /*----------------------- header ---------------------------*/
  .main-container {
    max-width: 70.4rem;
  }
}

@media (max-width: 767px) {
  /*-------------------------header----------------------*/
  .main-container {
    max-width: 32.5rem;
  }
}
