.main-container {
  max-width: 1060px;
  width: cal(100% - 380px);
  margin: 40px auto 99px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /*----------------------- header ---------------------------*/
  .main-container {
    max-width: 704px;
  }
}

@media (max-width: 767px) {
  /*-------------------------header----------------------*/
  .main-container {
    max-width: 325px;
  }
}
