@import url("/styles/global-style.css");

header {
  height: 9.4rem;
  padding: 0 20rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--gray-brt5);
}

.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container > a {
  text-decoration: none;
}

.logo {
  width: 13.3rem;
  height: 2.4rem;
}

/* 로그인 전 */
.button-login {
  width: 12.8rem;
  height: 5.3rem;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 5.3rem;
  text-align: center;
  background: linear-gradient(90.99deg, var(--primary) 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
}

.button-login:hover {
  cursor: pointer;
}

/* 로그인 후 */
.profile-container {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--gray-brt1);
}

.profile {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
}

.profile-email {
  font-size: 1.4rem;
}

/* Tablet 반응형 */
@media (max-width: 1200px) {
  header {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .header-container {
    width: 79.9rem;
  }
}

/* Tablet 반응형(768~863px) */
@media (max-width: 863px) {
  .header-container {
    width: 100%;
  }
}

/* Mobile 반응형 */
@media (max-width: 768px) {
  header {
    height: 6.3rem;
  }

  .logo {
    width: 8.867rem;
    height: 1.6rem;
  }

  .button-login {
    width: 8rem;
    height: 3.7rem;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 3.7rem;
  }

  .profile-email {
    display: none;
  }
}
