.text-input {
  width: 100%;
  height: 6rem;
  border-radius: 0.8rem;
  padding: 0 1.5rem;
  border: 0.1rem solid #ccd5e3;
}

.text-input:focus {
  outline: none;
  border: 0.1rem solid var(--primary);
}
