@media screen and (max-width: 1199px) {
  header nav {
    padding: 0;
    gap: 538px;
    justify-content: center;
  }

  main #title .hidden_br_pc {
    display: inline;
  }

  main #img1 {
    width: 698px;
    border-radius: 25px;
    margin: 0 auto;
  }

  .content_imgs {
    width: 385px;
  }
}

@media screen and (max-width: 863px) {
  header nav {
    padding: 0 32px;
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  header nav {
    gap: 0;
    justify-content: space-between;
  }

  nav #login {
    width: 80px;
    height: 37px;
    padding: 10px 16px;
    font-size: 1.4rem;
  }
  nav #add_link {
    width: 200px;
    height: 37px;
    padding: 10px 16px;
    font-size: 1.4rem;
  }
  main {
    height: auto;
  }
  main #img1 {
    width: 100%;
    border-radius: 25px;
  }

  main #title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 42px;
    margin: 0;
    padding: 65px 0 0;
  }

  .content_imgs {
    margin: 0 32px;
  }

  /* section {
    margin: 0 32px;
  } */
  article {
    /* align-items: center; */
    margin: 40px 32px;
    height: auto;
  }

  article h2 {
    order: 1;
    font-size: 2.4rem;
  }

  .content_imgs {
    width: 100%;
    order: 2;
    flex-grow: 1;
  }

  article p {
    order: 3;
    font-size: 1.5rem;
  }

  article .hidden_br_mobile {
    display: none;
  }

  .footer_wrap {
    display: grid;
    padding: 32px;
    align-items: start;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 0;
  }

  #copyright {
    order: 1;
  }

  footer #imgs {
    display: flex;
    justify-content: end;
  }
}
