/* Mobile 반응형 */
@media (min-width: 375px) and (max-width: 768px){
  header {
    height: 3.94rem;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .logo {
    width: 4.85rem;
    height: 0.88rem;  
  }
  
  .button-login {
    width: 5rem;
    height: 2.31rem;
    border-radius: 0.5rem;
    
    font-size: 0.88rem;
    font-weight: 600;
    line-height: 2.31rem;
  }

  main{
    padding-top: 3.94rem;
  }
  
  .section-top{
    margin-bottom: 0;
    padding: 0 2rem;
  }

  .text-explain-linkbrary {
    margin-top: 1.75rem;
    font-size: 2rem;
    line-height: 2.63rem;
  }

  .button-add-link{
    width: 12.5rem;
    height: 2.31rem;
    margin: 1.5rem auto;
  
    font-size: 0.88rem;
    line-height: 2.31rem;
  }

  .img-example-linkbrary{
    width: 100%;
    height: 100%;
  }


  .sections-feature{
    padding: 2.5rem 2rem;
  }

  .box-for-flex{
    width: 100%;
  }

  .text-explain-feature{
    margin-bottom: 0rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .br-not-mobile{
    display: none;
  }

  .img-feature{
    display: none;
  }

  .img-feature-for-mobile{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.94rem;

    margin-top: 1.25rem;
    margin-bottom: 1rem;

    background-color: #f0f6ff;
    background-size: cover;

  }

  .text-explain-detail{
    font-size: 0.94rem;
    line-height: 1.41rem;
  }
}