* {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: #f0f6ff;
}

#header-wrapper {
  width: 100%;
  max-width: 1920px;
  height: 101px;
  padding: 24px 200px;
}

#intro-wrapper {
  width: 100%;
  background-color: #f0f6ff;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > #login-btn {
  width: 128px;
  height: 53px;
  border-radius: 8px;
  text-decoration: none;
  padding: 16px 40.5px;
  font-size: 18px;
  font-weight: 600px;
  font-family: "Pretendard";
  color: #f5f5f5;
  background-image: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

#header-wrapper {
  background-color: #f0f6ff;
}

nav > img:hover {
  cursor: pointer;
}

main {
  height: 1150.5px;
  max-width: 1920px;
}

.privacy-policy {
  width: 60%;
  margin: 65px auto 0 auto;
}

.privacy-policy h1 {
  font-size: 38px;
  font-weight: 700;
}
hr {
  border-top: 2px solid black;
}
.privacy-policy p {
  line-height: 28px;
  font-size: 22px;
}

footer {
  width: 100%;
  background-color: #111322;
}

#footer-wrapper {
  max-width: 1920px;
  height: 160px;
  padding-top: 32px;
  padding-bottom: 108px;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
}

.bottom-nav > span {
  display: inline-block;
  font-size: 16px;
  font-family: "Arial";
  line-height: 18.4px;
  font-weight: 400;
}

.bottom-nav > div {
  display: inline-block;
  font-size: 16px;
  font-family: "Arial";
  line-height: 18.4px;
  font-weight: 400;
}

.bottom-nav > div#internal-links a#faq-link {
  margin-left: 30px;
}

.bottom-nav a {
  color: white;
  text-decoration: none;
}

#copyright {
  color: #676767;
}

.iconbox img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
}
