* {
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
}

body {
  margin: auto auto;
  background-color: #f0f6ff;
  max-width: 1920px;
}

.not-member {
  display: inline-block;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 238px auto 233px auto;
}

div.logo {
  margin: 0 0 16px 0;
  height: 38px;
  width: 210px;
}

a.logo-link,
img.logo-img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.switch-signup {
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

div.input-area {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
}

input {
  width: 100%;
}
