:root {
  --body-background: #F0F6FF;
  --site-body-background: #FFFFFF;
  --clickable-background-left: #6D6AFE;
  --clickable-background-right: #6AE3FE;
  --clickable-text: #F5F5F5;
  --emphasis-1-left: #6D6AFE;
  --emphasis-1-right: #FF9F9F;
  --emphasis-2-left: #FE8A8A;
  --emphasis-2-right: #A4CEFF;
  --emphasis-3-left: #FFD88B;
  --emphasis-3-right: #6FBAFF;
  --emphasis-4-left: #6D7CCD;
  --emphasis-4-right: #528885;
  --emphasis-5-left: #3dd1eb;
  --emphasis-5-right: #3ea5d0;
  --description: #6B6B6B;
  --img-area-background: #F0F6FF;
  --footer-background: #111322;
  --footer-text1: #676767;
  --footer-text2: #CFCFCF;
}

/* site */
/* settings */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  margin: 0;
}

.clickable {
  background: linear-gradient(90deg, var(--clickable-background-left), var(--clickable-background-right));
  line-height: 3.3rem;
  border-radius: 0.5rem;
  text-align: center;
}

.emphasis-1 {
  background: linear-gradient(90deg, var(--emphasis-1-left), var(--emphasis-1-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-2 {
  background: linear-gradient(90deg, var(--emphasis-2-left), var(--emphasis-2-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-3 {
  background: linear-gradient(90deg, var(--emphasis-3-left), var(--emphasis-3-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-4 {
  background: linear-gradient(90deg, var(--emphasis-4-left), var(--emphasis-4-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-5 {
  background: linear-gradient(90deg, var(--emphasis-5-left), var(--emphasis-5-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* site-header */
.site-header a {
  text-decoration: none;
  color: var(--clickable-text);
}

.site-header .navbar {
  position: fixed;
  max-width: 1920px;
  margin: 0 auto;
  inset: 0;
}


.navbar-container .logo {
  line-height: 3.3rem;
  float: left;
}

.navbar-container .logo img {
  vertical-align: middle;
}

.navbar-container .clickable {
  width: 8rem;
  float:right;
}

/* site-body */
.site-body {
  background-color: var(--site-body-background);
}

.clickable.add-link {
  width: 22rem;
  margin: 0 auto;
}

/* site-footer */
.site-footer {
  background: var(--footer-background);
}

.site-footer .footer {
  padding: 2rem 6.5rem 7rem;
  font-weight: 400;
  color: var(--footer-text2);
}

.footer {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}

.footer .footer-left {
  color: var(--footer-text1);
}

.footer .footer-middle {
  margin: 0 auto;
}

.footer-middle a {
  color: var(--footer-text2);
  text-decoration: none;
}

.footer-middle a:not(:first-child) {
  margin-left: 2rem;
}

.footer-right img {
  width: 1rem;
  height: 1rem;
}

.footer-right a:not(:first-child) {
  margin-left: 0.8rem;
}

/* PC */
@media (min-width: 1200px) {
  /* setting */
  .tablet-br {
    display: none;
  }

  /* site-header */
  .navbar .navbar-container {
    height: 6rem;
    margin: 0 12.5rem;
    padding: 1.25rem 0;
  }

  .site-header .header-title {
    text-align: center;
    margin-top: 4.375rem;
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }

  .site-header .header-content {
    display: block;
    width: 75rem;
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  /* site-body */
  .site-body {
    padding-top: 7.5rem;
    padding-bottom: 10.5rem;
  }

  .content-frame {
    width: 62.375rem;
    height: 28.125rem;
    margin: 6.25rem auto;
  }

  .content-frame:first-child {
    margin-top: 7.5rem;
  }

  .right-side{
    float:right;
    height: 100%;
  }
  .left-side{
    float: left;
    height: 100%;
  }

  .content-frame .title {
    display: inline-block;
    font-size: 3rem;
    margin: 0;
  }

  .content-frame .description {
    display: inline-block;
    margin: 0.625rem 0 0 0;
    color: var(--description);
    line-height: 150%;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  /* site-header */
  .navbar .navbar-container {
    height: 5.875rem;
    margin: 0 2rem;
    padding: 1.25rem 0;
  }
  @media (min-width: 863px) {
    .navbar .navbar-container {
      width: 800px;
      height: 5.875rem;
      margin: 0 auto;
      padding: 1.25rem 0;
    }
  }

  .site-header .header-title {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }

  .site-header .header-content {
    display: block;
    width: 40.625rem;
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  /* site-body */
  .content-frame {
    width: 43.75rem;
    height: 19.6875rem;
    margin: 6.25rem auto;
  }

  .content-frame:first-child {
    margin-top: 5rem;
  }

  .content-frame .content-area {
    margin: auto 0;
  }

  .content-area .title {
    font-size: 3rem;
    margin: 0;
  }

  .content-area .description {
    margin: 0.625rem 0 0 0;
    color: var(--description);
    line-height: 150%;
  }

  /* site-footer */
  .site-footer {
    margin-top: 10.625rem;
    background: var(--footer-background);
  }

  .site-footer .footer {
    padding: 2rem 6.5rem 6.875rem;
    font-weight: 400;
    color: var(--footer-text2);
  }

  .footer {
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
  }

  .footer .footer-left {
    color: var(--footer-text1);
  }

  .footer .footer-middle {
    margin: 0 auto;
  }

  .footer-middle a {
    color: var(--footer-text2);
    text-decoration: none;
  }

  .footer-middle a:not(:first-child) {
    margin-left: 1.875rem;
  }

  .footer-right img {
    width: 1rem;
    height: 1rem;
  }

  .footer-right a:not(:first-child) {
    margin-left: 0.8125rem;
  }
}

/* mobile */
@media (min-width: 375px) and (max-width: 767px) {
  /* setting */
  .content-frame br {
    display: none;
  }

  .site-header,
  .site-body,
  .site-footer {
    margin: 0;
    padding: 0 2rem;
  }

  .navbar-container img,
  .content-frame img {
    width: 100%;
  }

  .navbar .navbar-container {
    height: 5.875rem;
    padding: 1.25rem 0;
  }

  .site-header .header-title {
    text-align: center;
    margin-top: 4.0625rem;
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }

  .site-header .header-content {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 2.5rem;
  }

  .site-body {
    margin-top: 7.5rem;
    margin: 0 2rem;
  }

  .content-frame {
    width: 20.3125rem;
    margin: 5rem auto;
  }

  .content-frame:first-child {
    margin-top: 2.5rem;
  }

  .content-frame > * {
    margin: auto 0;
  }

  .content-frame img {
    margin-top: 1.25rem;
    margin-bottom: 1rem;
    height: 100%;
  }

  .content-frame .title {
    font-size: 1.5rem;
    margin: 0;
  }

  .content-frame .description {
    margin: 0.625rem 0 0 0;
    font-size: 0.94rem;
    color: var(--description);
  }
}