/* ================================== common ================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
}
.inner {
  margin: 0 auto;
  width: calc(1920px - 400px);
  height: 100%;
}
.paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.paragraph h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 57px;
  letter-spacing: -0.3px;
  color: #000000;
}
.paragraph p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #6b6b6b;
}

.divide {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* ================================== get-started ================================== */
.get-started {
  background: #f0f6ff;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.get-started .inner {
  padding-top: 24px;
}
.get-started__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  position: fixed;
  width: calc(1920px - 400px);
  background-color: transparent;
  z-index: 1;
}
.get-started__header .header--logo {
  display: flex;
}
.get-started__header .header--login {
  width: 128px;
  height: 53px;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
.get-started__content {
  padding-top: 70px;
  width: 100%;
  height: 100%;
}
.get-started__content .content--title {
  margin: 70px auto 0;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  height: 160px;
}
.get-started__content .content--title p {
  display: inline-block;
}
.get-started__content .content--title span {
  background: linear-gradient(91.26deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.get-started__content .content--add-link {
  margin: 40px auto 0;
  width: 350px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f5f5f5;
  cursor: pointer;
}
.get-started__content .content--example-image {
  margin: 90px auto 0;
  max-width: 1118px;
  border-radius: 25px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.08));
}
.get-started__content .content--example-image img {
  width: 100%;
  height: auto;
  transform: translateY(10px);
}

/* ================================== detail ================================== */
.detail {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}
.detail .inner {
  max-width: calc(1920px - (461px * 2));
}
.detail__content {
  position: relative;
  width: 100%;
  height: 100%;
}
.detail__content .content__save {
  margin: 120px auto 0;
  max-width: 1000px;
}
.detail__content .content__save div {
  width: 550px;
}
.detail__content .content__save div img {
  width: 100%;
  height: auto;
}
.detail__content .content__save .paragraph h2 span {
  background: linear-gradient(95.63deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.detail__content .content__manage {
  margin: 100px auto 0;
  max-width: 1000px;
}
.detail__content .content__manage .paragraph h2 span {
  background: linear-gradient(95.63deg, #ffd88b 1.72%, #6fbaff 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.detail__content .content__manage div {
  width: 550px;
}
.detail__content .content__manage div img {
  max-width: 100%;
  height: auto;
}
.detail__content .content__share {
  margin: 100px auto 0;
  max-width: 1000px;
}
.detail__content .content__share div {
  width: 550px;
}
.detail__content .content__share div img {
  max-width: 100%;
  height: auto;
}
.detail__content .content__share .paragraph h2 span {
  background: linear-gradient(70deg, #6d7ccd 22%, #528885 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.detail__content .content__search {
  margin: 100px auto 170px;
  max-width: 1000px;
}
.detail__content .content__search div {
  width: 550px;
}
.detail__content .content__search div img {
  max-width: 100%;
  height: auto;
}
.detail__content .content__search .paragraph h2 span {
  background: linear-gradient(60.63deg, #fe578f 1%, #68e8f9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.detail__content .content__save .mobile-save,
.detail__content .content__manage .mobile-manage,
.detail__content .content__share .mobile-share,
.detail__content .content__search .mobile-search {
  display: none;
}

/* ================================== footer ================================== */
.footer {
  width: 100%;
  height: 160px;
  background-color: #111322;
}
.footer .inner {
  height: 18px;
  display: flex;
  justify-content: space-between;
  transform: translateY(32px);
}
.footer .footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #676767;
}
.footer .footer__policy {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #cfcfcf;
  display: flex;
  gap: 30px;
}
.footer .footer__policy .policy__privacy:link,
.footer .footer__policy .policy__privacy:active,
.footer .footer__policy .policy__privacy:hover,
.footer .footer__policy .policy__privacy:visited,
.footer .footer__policy .policy__faq:link,
.footer .footer__policy .policy__faq:active,
.footer .footer__policy .policy__faq:hover,
.footer .footer__policy .policy__faq:visited {
  color: #cfcfcf;
}
.footer .footer__sns {
  display: flex;
  gap: 12.3px;
  justify-content: center;
  align-items: center;
  height: 18px;
}
.footer .footer__sns a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================== responsive ================================== */

@media (min-width: 1921px) {
  .detail__content .content__save .paragraph,
  .detail__content .content__manage .paragraph,
  .detail__content .content__share .paragraph,
  .detail__content .content__search .paragraph {
    width: min(34vw, 262px);
  }
}

@media (max-width: 1920px) {
  .inner {
    max-width: calc(100% - 400px);
  }

  .get-started__header {
    width: calc(100% - 400px);
  }

  .detail .inner {
    max-width: calc(100% - 340px);
  }

  .footer .inner {
    max-width: calc(100% - 208px);
  }

  .detail__content .content__save .paragraph,
  .detail__content .content__manage .paragraph,
  .detail__content .content__share .paragraph,
  .detail__content .content__search .paragraph {
    width: min(34vw, 262px);
  }
}

@media (max-width: 1199px) {
  .inner {
    max-width: calc(1199px - 400px);
  }
  .get-started__header {
    width: calc(1199px - 400px);
  }

  .detail .inner {
    max-width: calc(1199px - 360px);
  }
  .get-started__content .content--title {
    height: 240px;
  }
  .get-started__content .content--title p {
    display: block;
  }
  .get-started__content .content--title {
    margin: 40px auto 0;
  }
  .get-started__content .content--example-image {
    margin: 70px auto 0;
  }

  .detail__content .content__save .paragraph,
  .detail__content .content__manage .paragraph,
  .detail__content .content__share .paragraph,
  .detail__content .content__search .paragraph {
    width: min(34vw, 262px);
  }

  .detail__content .content__save div,
  .detail__content .content__manage div,
  .detail__content .content__share div,
  .detail__content .content__search div {
    max-width: 385px;
  }

  .detail__content .content__save {
    margin: 80px auto 0;
  }
}

@media (max-width: 863px) {
  .inner {
    max-width: calc(100% - min(15vw, 128px));
  }
  .get-started__header {
    width: calc(100% - min(15vw, 128px));
  }
  .detail .inner {
    max-width: calc(100% - min(15vw, 128px));
  }
  .footer .inner {
    max-width: calc(100% - min(15vw, 128px));
  }
  .get-started__content .content--title {
    height: min(30vw, 240px);
    font-size: min(8vw, 64px);
    line-height: min(10vw, 80px);
  }
  .paragraph h2 {
    font-size: min(6vw, 48px);
    line-height: min(7vw, 57px);
  }

  .get-started__header .header--logo {
    width: min(15vw, 133px);
  }
  .get-started__header .header--login {
    font-size: min(2vw, 18px);
    line-height: min(2.5vw, 21px);
    width: min(15vw, 128px);
    height: min(6vw, 53px);
    padding: 16px min(2.5vw, 20px);
  }
  .get-started__content .content--add-link {
    height: min(6vw, 53px);
    width: min(40vw, 350px);
    font-size: min(2vw, 18px);
    line-height: min(2.5vw, 21px);
  }

  .get-started__content .content--title {
    margin: min(5vw, 40px) auto 0;
  }
  .get-started__content .content--add-link {
    margin: min(5vw, 40px) auto 0;
  }
  .get-started__content .content--example-image {
    margin: min(8vw, 70px) auto 0;
  }

  .detail__content .content__save div,
  .detail__content .content__manage div,
  .detail__content .content__share div,
  .detail__content .content__search div {
    width: min(38vw, 325px);
  }

  .detail__content .content__save .paragraph p,
  .detail__content .content__manage .paragraph p,
  .detail__content .content__share .paragraph p,
  .detail__content .content__search .paragraph p {
    font-size: min(1.8vw, 16px);
  }

  .detail__content .content__save {
    margin: min(7.5vw, 60px) auto 0;
  }
  .detail__content .content__manage {
    margin: min(11vw, 90px) auto 0;
  }
  .detail__content .content__share {
    margin: min(11vw, 90px) auto 0;
  }
  .detail__content .content__search {
    margin: min(11vw, 90px) auto min(14vw, 120px);
  }
}

@media (max-width: 449px) {
  .footer .inner {
    position: relative;
  }
  .footer .footer__copyright {
    position: absolute;
    top: 78px;
    left: 0;
  }
}

@media (max-width: 414px) {
  /* .divide {
    flex-direction: column;
  } */
}
