* {
  /* css reset */
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  box-sizing: border-box;
}

body {
  font-family: 'pretendard';
  width: 100%;
  background-color: #F0F6FF;
  padding-top: 20px;
}

header {
  max-width: 1920px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
  padding-top: 120px;
  padding-bottom: 170px;
  background-color: #fff;
}

footer {
  height: 160px;
  background-color: #111322;
}

.title-nav {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F0F6FF;
  margin-bottom: 91px;
  padding: 20px 200px;
  height: 53px;
}

.header-links {
  height: 53px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #f5f5f5;
  text-align: center;
  line-height: 53px;
  background-image: linear-gradient(to right, #6D6AFE, #6AE3FE);
}

.login {
  display: inline-block;
  width: 128px;
  
}

.in-blck {
  display: inline-block;
}

.title {
  width: 708px;
  margin: 0 auto 2.5rem;
  text-align: center;
  line-height: 80px;
  font-size: 4rem;
  font-weight: 700;
}

.add-link {
  margin: 0 auto 5.625rem;
  display: block;
  width: 350px;
}

.title-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.sections {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 157px;
}

.main-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.28px;
  margin-bottom: 10px;
}

.main-des {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #6B6B6B;
}

.main-image {
  width: 34.375rem;
}

.footer {
  padding: 32px 104px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #676767;
}

.footer-links {
  display: flex;
  gap: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #CFCFCF;
}



.copyright {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  width: 105px;
  height: 18px;
  color: #676767;
}

.footer-link {
  display: inline-block;
  color: #CFCFCF;
  text-decoration: none;
  height: 18px;
}

.pp {
  width: 100px;
}

.faq {
  width: 33px;
}

.social-links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  width: 116px;
  height: 20px;
} 

.fb {
  width: 18px;
  height: 18px;
}

.tw {
  width: 19px;
  height: 15.38px;
}

.yt {
  width: 20px;
  height: 13.34px;
}

.ig {
  width: 17px;
  height: 17px;
}

.grad1 {
  background: linear-gradient(to right, #6D6AFE, #FF9F9F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad2 {
  background: linear-gradient(to right, #FE8A8A, #A4CEFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad3 {
  background: linear-gradient(to right, #6FBAFF, #FFD88B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad4 {
  background: linear-gradient(to right, #6D7CCD, #52888538);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grad5 {
  background: linear-gradient(to right, #FE578F, #68E8F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1199px) and (min-width: 863px) {
  .title-img {
    width: 650.3px;
  }
}

@media (max-width: 1199px) {
  .title-nav {
    min-width: 798px;
  }
}

@media (max-width: 863px) {
  .title-nav {
    padding: 0 32px;
  }
}