:root {
  --body-background: #F0F6FF;
  --site-body-background: #FFFFFF;
  --clickable-background-left: #6D6AFE;
  --clickable-background-right: #6AE3FE;
  --clickable-text: #F5F5F5;
  --emphasis-1-left: #6D6AFE;
  --emphasis-1-right: #FF9F9F;
  --emphasis-2-left: #FE8A8A;
  --emphasis-2-right: #A4CEFF;
  --emphasis-3-left: #FFD88B;
  --emphasis-3-right: #6FBAFF;
  --emphasis-4-left: #6D7CCD;
  --emphasis-4-right: #528885;
  --emphasis-5-left: #3dd1eb;
  --emphasis-5-right: #3ea5d0;
  --description: #6B6B6B;
  --img-area-background: #F0F6FF;
  --footer-background: #111322;
  --footer-text1: #676767;
  --footer-text2: #CFCFCF;
  --signup-link-text:#6D6AFE;
  --account-border: #CCD5E3;
  --login-button-text: #ffffff;
  --social-login-background: #E7EFFB;
  --social-login-text: #3E3E43;
  --forgot-password-link-text: #3E3E43;
}

/* site */
/* settings */
* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  margin: 0;
}

a {
  text-decoration: none;
}

/* index */
.clickable {
  background: linear-gradient(90deg, var(--clickable-background-left), var(--clickable-background-right));
  line-height: 3.3rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
}

.emphasis-1 {
  background: linear-gradient(90deg, var(--emphasis-1-left), var(--emphasis-1-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-2 {
  background: linear-gradient(90deg, var(--emphasis-2-left), var(--emphasis-2-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-3 {
  background: linear-gradient(90deg, var(--emphasis-3-left), var(--emphasis-3-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-4 {
  background: linear-gradient(90deg, var(--emphasis-4-left), var(--emphasis-4-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emphasis-5 {
  background: linear-gradient(90deg, var(--emphasis-5-left), var(--emphasis-5-right));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* site-header */
.site-header a {
  color: var(--clickable-text);
}

.site-header .navbar {
  position: fixed;
  inset: 0;
  height: 6rem;
  background-color: rgba(240, 246, 255, 0.5);
  z-index: 1;
}

.navbar-container .logo {
  line-height: 3.3rem;
  float: left;
}

.navbar-container .logo img {
  vertical-align: middle;
}

.navbar-container .clickable {
  width: 8rem;
  float: right;
}

/* site-body */
.site-body {
  background-color: var(--site-body-background);
  padding-bottom: 10.625rem;
}

.clickable.add-link {
  width: 22rem;
  margin: 0 auto;
}

.content-frame:first-child {
  margin-top: 0;
}

.content-frame .title {
  font-size: 3rem;
}

.content-frame img{
  width: 100%;
}

.content-frame .description {
  color: var(--description);
  line-height: 150%;
}

/* site-footer */
.site-footer {
  background: var(--footer-background);
}

.site-footer .footer-container {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  height: 10rem;
  padding: 2rem 6.5rem 7rem;
  color: var(--footer-text2);
}

.footer-container .footer-left {
  color: var(--footer-text1);
}

.footer-container .footer-middle {
  margin: 0 auto;
}

.footer-middle a {
  color: var(--footer-text2);
}

.footer-middle a:not(:first-child) {
  margin-left: 2rem;
}

.footer-right img {
  width: 1rem;
  height: 1rem;
}

.footer-right a:not(:first-child) {
  margin-left: 0.8rem;
}

/* PC */
@media (min-width: 1200px) {
  /* setting */
  .tablet-br {
    display: none;
  }

  /* site-header */
  .navbar .navbar-container {
    max-width: 1920px;
    height: 6rem;
    margin: 0 auto;
    padding: 1.25rem 12.5rem;
  }

  .site-header .header-title {
    text-align: center;
    margin-top: 10.25rem;
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }

  .site-header .header-content {
    display: block;
    width: 75rem;
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  /* site-body */
  .site-body {
    padding-top: 7.5rem;
  }

  .content-frame {
    width: 62.375rem;
    height: 28.125rem;
    margin: 6.25rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .content-frame.normal-flow .title {
    margin: auto auto 0.3rem 0;
  }

  .content-frame.normal-flow img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .content-frame.normal-flow .description {
    margin: 0.3rem 0 auto 0;
    font-weight: 500;
  }

  .content-frame.inverse-flow .title {
    margin: auto 0 0.3rem 10rem;
  }

  .content-frame.inverse-flow img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .content-frame.inverse-flow .description {
    margin: 0.3rem 0 auto 10rem;
    font-weight: 500;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1199px) {
  /* site-header */
  .navbar .navbar-container {
    height: 6rem;
    margin: 0 auto;
    padding: 1.25rem 2rem;
  }
  @media (min-width: 863px) {
    .navbar .navbar-container {
      width: 800px;
      height: 6rem;
      margin: 0 auto;
      padding: 1.25rem 0;
    }
  }

  .site-header .header-title {
    text-align: center;
    margin-top: 8.5rem;
    margin-bottom: 2.5rem;
    font-size: 4rem;
  }

  .site-header .header-content {
    display: block;
    width: 40.625rem;
    margin: 0 auto;
    margin-top: 2.5rem;
  }

  /* site-body */
  .site-body {
    padding-top: 5rem;
  }

  .content-frame {
    width: 43.75rem;
    height: 19.6875rem;
    margin: 6.25rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .content-frame.normal-flow .title {
    margin: auto auto 0.3rem 0;
  }

  .content-frame.normal-flow img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .content-frame.normal-flow .description {
    margin: 0.3rem 0 auto 0;
    font-weight: 500;
  }

  .content-frame.inverse-flow .title {
    margin: auto 0 0.3rem 3.2rem;
  }

  .content-frame.inverse-flow img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .content-frame.inverse-flow .description {
    margin: 0.3rem 0 auto 3.2rem;
    font-weight: 500;
  }
}

/* mobile */
@media (max-width: 767px) {
  /* setting */
  .content-frame br {
    display: none;
  }

  .site-header,
  .site-body,
  .site-footer,
  .navbar {
    margin: 0;
    padding: 0 2rem;
  }

  .clickable {
    line-height: 2.3rem;
    font-size: 0.875rem;
  }

  /* site-header */
  .site-header .navbar {
    height: 4rem;
  }

  .navbar-container .logo {
    line-height: 2.3rem;
  }

  .navbar-container .logo img {
    width: 5rem;
  }
  
  .navbar-container .clickable {
    width: 5rem;
  }
  
  /* site-header */
  .navbar .navbar-container {
    height: 4rem;
    padding: 0.8rem 0;
    margin: 0 auto;
  }

  .site-header .header-title {
    text-align: center;
    margin-top: 5.5rem;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .clickable.add-link {
    width: 12.5rem;
  }

  .site-header .header-content {
    display: block;
    width: 19rem;
    margin: 0 auto;
    margin-top: 1.5rem;
  }

  /* site-body */
  .site-body {
    padding-top: 2.5rem;
  }

  .content-frame {
    margin: 5rem 0;
  }

  .content-frame:last-child {
    padding-bottom: 5rem;
    margin: 0;
  }

  .content-frame img {
    margin: 1.25rem 0 1rem 0;
  }

  .content-frame .title {
    font-size: 1.5rem;
    margin: 0;
  }

  .content-frame .description {
    margin: 0;
    font-size: 0.94rem;
    font-weight: 500;
    line-height: 100%;
  }

  /* site-footer */
  .site-footer {
    padding: 2rem;
  }
  
  .site-footer .footer-container {
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: 5rem 1rem;
    grid-template-columns: 1fr 0.5fr;
  }

  .footer-container .footer-middle {
    margin: 0;
  }
  
  .footer-container .footer-right {
    margin-left: auto;
  }

  .grid-item:nth-child(1) {
    order: 1;
  }
}

/* account */
.account {
  margin: 15rem auto;
  max-width: 25rem;
  width: 100%;
}

.account .title {
  margin: 0 auto;
  text-align: center;
}

.account .logo {
  width: 13rem;
}

.account .title .description {
  margin: 1rem auto 2rem;
}

.account .description a {
  text-decoration: underline;
  margin-left: 0.5rem;
}

.account form {
  display: flex;
  flex-direction: column;
}

.account form > p {
  margin: 0;
  font-size: 0.9rem;
}

.account form .lb-input {
  margin: 0.75rem 0 1.5rem 0;
  font-size: 1rem;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  border: 0.016rem solid var(--account-border);
  border-radius: 0.5rem;
}

.account button[type="submit"] {
  margin: 0.4rem 0 1rem 0;
  border: 0;
  padding: 0;
  color: var(--login-button-text);
}

.account button[type="submit"]:hover {
  cursor: pointer;
}

.account .forgot-passwor {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.account .forgot-password a {
  color: var(--forgot-password-link-text);
}

.account .social-login {
  display: flex;
  font-size: 0.9rem;
  background-color: var(--social-login-background);
  border: 0.06rem solid var(--account-border);
  color: var(--social-login-text);
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  padding-right: auto;
}

.account .social-login .title {
  margin: 0;
  line-height: 2.5rem;
}

.account .social-login .ico-box {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 70%;
  overflow: hidden;
}

.account .ico-box.google {
  background-color: var(--login-button-text);
  margin-left: auto;
}

.account .ico-box.kakaotalk {
  background-color: #F5E14B;
  margin-left: 1rem;
}

.account .ico-box img {
  position: relative;
  width: 1.3rem;
  height: 1.3rem;
  top: 0.6rem;
  left: 0.6rem;
}