.card-title {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  font-weight: 600;
  height: 3rem;
}

.card-list {
  display: flex;
  margin-bottom: 8rem;
  align-items: center;
  flex-wrap: wrap;
  height: fit-content;
  gap: 2rem;
}

/* .card {
  margin-right: 1.6rem;
} */

.card:nth-child(3n) {
  margin-right: 0;
}

.empty-data-message {
  font-size: 1.6rem;
  margin: 0 auto;
}
