@use "@/styles/utils";

.card {
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);

  a {
    color: #000000;
  }

  .cardImg {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover {
    background-color: utils.$gray-brt5;

    .cardImg {
      transform: scale(1.2);
    }
  }
}

.imageContainer {
  position: relative;
  width: 34rem;
  height: 20rem;
  overflow: hidden;
}

.star {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
}

.contentContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 34rem;
  height: 13.5rem;
  padding: 1.5rem 2rem;
  gap: 1rem;
}

.passedTime {
  color: #666666;
  font-size: 1.3rem;
}

.content {
  display: -webkit-box;
  height: 4.9rem;
  margin: 0;
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.createdDate {
  color: #333333;
  font-size: 1.5rem;
}

@include utils.mobile {
  .imageContainer {
    width: 32.5rem;
    height: 19.2rem;
  }

  .star {
    width: 3rem;
    height: 3rem;
  }

  .contentContainer {
    width: 32.5rem;
    height: 13.5rem;
  }
}
