.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.1);
  width: 34rem;
  cursor: pointer;
}

.like-btn {
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  z-index: 1;
}

.card-image {
  height: 18rem;
  overflow: hidden;
  position: relative;
  /* background-size: 100%;
  background-position: center;
  transition: background-size 0.3s ease-in; */
}

.card-body {
  flex-direction: column;
  display: flex;
  padding: 1.5rem 2rem;
  height: 13rem;
  position: relative;
  background-color: white;
}

.menu-btn {
  cursor: pointer;
  width: 4.5rem;
  height: 4rem;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}

.card-time {
  font-size: 1.3rem;
  color: #666666;
  margin-bottom: 1.2rem;
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.4;
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
}

.elapsed-time {
  font-size: 1.3rem;
  color: #666666;
  margin-bottom: 1.3rem;
}

.created-date {
  font-size: 1.4rem;
  color: #333333;
  margin-top: auto;
}

.card:hover .card-image {
  background-size: 120%;
}

.card:hover .card-body {
  background-color: var(--gray-5);
}

@media (max-width: 767px) {
  .card {
    width: 32.5rem;
  }

  .card-image {
    height: 19rem;
  }
}
