@import "/static/css/main.css";

.card {
  width: 34rem;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all 0.3s linear; /* card 배경색 애니메이션 */
}

.card:hover {
  background-color: var(--gray-f);
}

/* card hover시 card image 1.2배 확대 */
.card:hover .card-image {
  transform: scale(1.2);
}

.card-image-container {
  overflow: hidden;
  width: 34rem;
  height: 20rem;
}

.card-image {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.5s linear; /* card image 애니메이션 */
}

.card .star-button {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
}

.text-content {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-info .added-time {
  color: #666666;
  font-size: 1.3rem;
}

.card-info .kebab-button {
  border: none;
  cursor: pointer;
  background: transparent;
}

.card-description {
  /* text-overflow: ellipsis; */
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
}

.datetime {
  color: #333333;
  font-size: 1.5rem;
}

@media (max-width: 767px) {
  .card {
    max-width: 32.5rem;
  }
}
