.search-bar {
  position: relative;
}

.search-bar .search-input {
  width: 100%;
  border: 0;
  border-radius: 1rem;
  outline-color: var(--primary);
  padding: 1.5rem;
  padding-left: 4.2rem;
  color: var(--search-bar-text);
  background-color: var(--gray6);
}

.search-bar .search-icon {
  position: absolute;
  top: 1.4rem;
  left: 1.6rem;
  width: 1.6rem;
}

@media (max-width: 767px) {
  .search-bar .search-input {
    padding: 1.3rem;
    padding-left: 3.8rem;
    font-size: 1.4rem;
  }

  .search-bar .search-icon {
    top: 1.3rem;
  }
}
