.folderMenuContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 106rem;
  margin: 0 auto;
}
.chipsContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.chip {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
