/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./app/folder/[link]/page.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.page_content__EoLBB {
  height: 22.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./layout/DeleteModal.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.DeleteModal_backdrop__sb5G4 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.DeleteModal_modal__jgIU8 {
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 36rem;
  height: 19.3rem;
  z-index: 100;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1.5rem;
}

.DeleteModal_modal__jgIU8 .DeleteModal_img__HrCSK {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.DeleteModal_modal__jgIU8 div {
  display: flex;
}

.DeleteModal_modal__jgIU8 .DeleteModal_content__wzJyC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.DeleteModal_modal__jgIU8 .DeleteModal_title__ArsW7 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: var(--black);
  font-weight: 700;
}

.DeleteModal_modal__jgIU8 .DeleteModal_content__wzJyC {
  font-size: 1.4rem;
  color: var(--gray2);
}

.DeleteModal_modal__jgIU8 button {
  margin-top: 1.5rem;
  width: 28rem;
  height: 5.1rem;
  border: none;
  background: var(--red);
  border-radius: 8px;
  color: var(--white);
  border-radius: 0.8rem;
}

@media (max-width: 767px) {
  .DeleteModal_modal__jgIU8 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./layout/UpdateModal.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.UpdateModal_backdrop__M3PL5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.UpdateModal_modal__sqFj9 {
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 36rem;
  height: 24.4rem;
  z-index: 100;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1.5rem;
}

.UpdateModal_modal__sqFj9 .UpdateModal_img__uEiQc {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.UpdateModal_modal__sqFj9 div {
  display: flex;
}

.UpdateModal_modal__sqFj9 .UpdateModal_content__JfimC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UpdateModal_modal__sqFj9 p {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.UpdateModal_modal__sqFj9 input {
  padding: 1.8rem 1.5rem;
  width: 28rem;
  height: 6rem;
  border: 1px solid #6d6afe;
}

.UpdateModal_modal__sqFj9 button {
  margin-top: 1.5rem;
  width: 28rem;
  height: 5.1rem;
  border: none;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: var(--white);
  border-radius: 0.8rem;
}

@media (max-width: 767px) {
  .UpdateModal_modal__sqFj9 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./layout/ShareModal.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.ShareModal_backdrop__Wq96D {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.ShareModal_modal__LQcty {
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 36rem;
  height: 20.9rem;
  z-index: 100;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1.5rem;
}

.ShareModal_modal__LQcty .ShareModal_img__CPu0E {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.ShareModal_modal__LQcty div {
  display: flex;
}

.ShareModal_modal__LQcty .ShareModal_box__FEipJ {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ShareModal_modal__LQcty .ShareModal_title__L52Uz {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: var(--black);
  font-weight: 700;
}

.ShareModal_modal__LQcty .ShareModal_content__zoaOj {
  font-size: 1.4rem;
  color: var(--gray2);
}

.ShareModal_modal__LQcty .ShareModal_icon-box__w9iGL {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2.4rem;
}

.ShareModal_modal__LQcty .ShareModal_icon-box__w9iGL > div {
  display: flex;
  flex-direction: column;
}

.ShareModal_modal__LQcty .ShareModal_icon-box__w9iGL > div p {
  margin-top: 1rem;
  text-align: center;
}

.ShareModal_modal__LQcty button {
  margin-top: 1.5rem;
  width: 28rem;
  height: 5.1rem;
  border: none;
  background: var(--red);
  border-radius: 8px;
  color: var(--white);
  border-radius: 0.8rem;
}

@media (max-width: 767px) {
  .ShareModal_modal__LQcty {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./components/UpdateLink.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.UpdateLink_container__ISdMX {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
}

.UpdateLink_selected__54Idd {
  font-size: 2.4rem;
  font-weight: 600;
}

.UpdateLink_container__ISdMX .UpdateLink_icons__NzG15 {
  width: 19.2rem;
  height: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UpdateLink_container__ISdMX .UpdateLink_icons__NzG15 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.UpdateLink_container__ISdMX .UpdateLink_icons__NzG15 span {
  display: inline-block;
  color: var(--gray2);
}

.UpdateLink_container__ISdMX .UpdateLink_icons__NzG15 img {
  display: inline-block;
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .UpdateLink_container__ISdMX {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem 0;
  }
}

