.wrapper {
  margin: 0 auto;
  width: 106rem;
}

.banner {
  height: 22rem;
  background-color: var(--gray-5);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.search-bar {
  margin-bottom: 4rem;
}
