.buttonWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.buttonText {
  display: block;
  min-width: 59px;
  height: 19px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.3px;
  color: var(--linkbrary-primary);
}

.ImageWrapper {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
}

.image {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .buttonWrapper {
    position: fixed;
    width: 12.7rem;
    height: 3.5rem;
    bottom: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--linkbrary-primary);
    border: 1px solid var(--linkbrary-white);
    border-radius: 20px;
    z-index: 4;
    justify-content: center;
  }
  .fixedBottom {
    bottom: 10.1rem;
  }
  .buttonText {
    color: var(--linkbrary-white);
  }
  .image {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(100%)
      hue-rotate(0deg) brightness(100%) contrast(100%);
  }
}
