@use "@/styles/utils";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.title {
  color: #373740;
  font-size: 2rem;
  font-weight: 700;
  user-select: none;
}
