.header {
  position: sticky;
  top: 0;
  background-color: var(--gray-5);
  z-index: 999;
}

.header .container {
  padding: 0 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.4rem;
}

.user {
  display: flex;
  align-items: center;
}

.user-icon {
  width: 2.8rem;
  border-radius: 50%;
  cursor: pointer;
}

.user-email {
  font-size: 1.4rem;
  margin-left: 0.6rem;
}

.header .login-btn {
  font-family: "Pretendard";
  width: 12.8rem;
  height: 5.3rem;
  background-image: linear-gradient(to right, #6d6afe, #6ae3fe);
  border-radius: 0.8rem;
  color: white;
  line-height: 5.5rem;
  font-size: 1.8rem;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 3.2rem;
  }

  .header .container {
    width: 80rem;
    margin: 0 auto;
    padding: 0 3.2rem;
  }

  .header .login-btn {
    width: 12.8rem;
    height: 5.3rem;
  }
}

@media (max-width: 868px) {
  .header .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header .container {
    height: 6.4rem;
  }

  .header .image {
    width: 8.8rem;
    height: auto;
  }

  .user-email {
    display: none;
  }

  .header .login-btn {
    width: 8rem;
    height: 3.7rem;
    font-size: 1.4rem;
    line-height: 3.7rem;
  }
}

@media (max-width: 375px) {
  .header {
    width: 37.5rem;
  }
}
