@use "styles/abstract/variables_color" as var-color;

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: calc(1920px - 40rem);
  height: 100%;
}
@media only screen and (max-width: 1920px) {
  .inner {
    max-width: calc(100% - 20rem);
  }
}
@media only screen and (max-width: 768px) {
  .inner {
    max-width: calc(100% - 6.4rem);
  }
}

.header {
  background-color: var-color.$linkbrary-bg-50;
  height: 9.3rem;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  display: block;
}
.header .nav {
  height: 9.3rem;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .header {
    height: 6.3rem;
  }
  .header .nav {
    height: 6.3rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.3rem;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}
.nav .logo {
  display: flex;
  width: 133px;
}
.nav .logo img {
  width: 100%;
  height: auto;
}
.nav .user {
  box-sizing: border-box;
  height: 28px;
  display: flex;
  justify-content: space-between;
  gap: 6px;
}
.nav .user .imgContainer {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  overflow: hidden;
}
.nav .user .imgContainer img {
  width: 100%;
  height: auto;
  display: block;
}
.nav .user span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #3e3e43;
}
.nav .signin {
  box-sizing: border-box;
  text-decoration: none;
  width: 128px;
  height: 53px;
  background: linear-gradient(
    90.99deg,
    var-color.$linkbrary-primary 0.12%,
    #6ae3fe 101.84%
  );
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}
@media only screen and (max-width: 1199px) {
  .nav .logo {
    width: 100px;
  }
  .nav .signin {
    width: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .nav .logo {
    width: 77.58px;
  }
  .nav .user span {
    display: none;
  }
  .nav .signin {
    width: 80px;
    height: 37px;
    font-size: 14px;
    line-height: 16.71px;
    padding: 10px 16px;
  }
}
