@use "styles/abstract/variables_color" as var-color;
@use "styles/abstract/mixins" as mixin;

.title {
  @include mixin.modal-title(var-color.$linkbrary-gray-100);
}
.subTitle {
  @include mixin.modal-sub-title(var-color.$linkbrary-gray-60) {
    padding-top: 8px;
    padding-bottom: 24px;
  }
}
.shareButtonContainer {
  display: flex;
  gap: 39px;

  .button {
    background: var-color.$linkbrary-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    .imageWrapper {
      width: 42px;
      height: 42px;
      position: relative;

      .image {
        @include mixin.image;
      }
    }
    .text {
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      text-align: center;
      color: var-color.$linkbrary-gray-100;
    }
  }
}
