@use "@/styles/abstract/variables_color" as var-color;
@use "@/styles/abstract/mixins" as mixin;

.title {
  @include mixin.modal-title(var-color.$linkbrary-gray-100);
}
.subTitle {
  @include mixin.modal-sub-title(var-color.$linkbrary-gray-60) {
    padding-top: 8px;
  }
}
.folderWrapper {
  padding-top: 32px;
  padding-bottom: 24px;
  width: 280px;
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  overflow-y: scroll;
  -ms-overflow-style: none; /*IE, Edge*/
  scrollbar-width: none; /*Firefox*/

  & .emptyLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #000000;
  }
}
.folderWrapper::-webkit-scrollbar {
  width: 3px; /* 스크롤바의 너비 */
}
.folderWrapper::-webkit-scrollbar-thumb {
  max-height: 10%; /* 스크롤바의 길이 */
  background: var-color.$linkbrary-gray-60; /* 스크롤바의 색상 */
  border-radius: 20px;
}
.folderWrapper::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
}

.addButton {
  @include mixin.modal-button(
    linear-gradient(
      90.99deg,
      var-color.$linkbrary-primary 0.12%,
      #6ae3fe 101.84%
    )
  );
}
