@import url("/global_style.css");

body {
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}

header,
main {
  background-color: #f0f6ff;
}

header nav,
footer .footer-wrap {
  max-width: 192rem;
  margin: 0 auto;
}

header,
main,
section {
  font-family: Pretendard;
}

main {
  height: auto;
  overflow: hidden;
}

header nav,
footer .wrap {
  justify-content: space-between;
  display: flex;
}

header nav {
  align-items: center;
  height: 9.4rem;
  padding: 0 20rem;
}

nav .logo {
  width: 13.3rem;
  height: 2.4rem;
}

nav .login {
  width: 12.8rem;
  height: 5.3rem;
  color: #f5f5f5;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border: 0;
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
  font-weight: 600;
  font-size: 1.8rem;
}

main .title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 8rem;
  margin: 0;
  padding: 7rem 0 4rem;
}

main .title-gradient {
  background: linear-gradient(91.26deg, #6d6afe 17.28%, #ff9f9f 74.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

main .add-link {
  display: block;
  width: 35rem;
  margin: 0 auto;
  height: 5.3rem;
  color: #f5f5f5;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
  font-weight: 600;
  font-size: 1.8rem;
  border: 0;
}

main .home-hero-img {
  width: 120rem;
  border-radius: 2.5rem;
  margin: 0 auto;
}

main .title .hidden-br-pc {
  display: none;
}

article .content-imgs {
  width: 55rem;
  align-self: center;
}

article .content-imgs.left-sort {
  grid-row: 1/3;

  justify-self: end;
}

article .content-imgs.right-sort {
  grid-row: 1/3;

  justify-self: start;
}

section {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  text-align: left;
}

article {
  display: grid;
  grid-template: repeat(2, auto) / repeat(2, auto);
  justify-content: center;
  align-content: center;
  height: 62rem;
  gap: 0 5.1rem;
}

article h2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.7rem;
  letter-spacing: -0.03rem;
}

article h2.left-sort {
  grid-row: 1/2;
  justify-self: end;
  align-self: end;
}

article h2.right-sort {
  grid-row: 1/2;
  justify-self: start;
  align-self: end;
}

article h2 .save-link-gradient {
  background: linear-gradient(95.63deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

article h2 .manage-link-gradient {
  background: linear-gradient(95.63deg, #ffd88b 1.72%, #6fbaff 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

article h2 .share-link-gradient {
  background: linear-gradient(95.63deg, #6d7ccd 1.72%, #52888538 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

article h2 .search-link-gradient {
  background: linear-gradient(95.63deg, #68e8f9 1.72%, #fe578f 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

article p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  padding: 1rem 0;
  margin: 0;
  color: #6b6b6b;
}

article p.left-sort {
  justify-self: end;
  align-self: start;
}

article p.right-sort {
  justify-self: start;
  align-self: start;
}

footer {
  background-color: #111322;
  font-family: "Arial";
  font-weight: 400;
  font-size: 1.6rem;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem 3.2rem 10.4rem;
}

.copyright {
  width: 10.5rem;
  height: 1.8rem;
  color: #676767;
  margin: 0;
}
.privacy-policy-faq {
  display: flex;
  justify-content: space-between;
  gap: 30;
}

.privacy-policy-faq a {
  color: #cfcfcf;
}

.privacy-policy-faq a:first-child {
  margin-right: 3rem;
}

footer img {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 1.3rem;
}

@media screen and (max-width: 1199px) {
  header nav {
    padding: 0;
    gap: 53.8rem;
    justify-content: center;
  }

  main .title {
    padding: 4rem 0;
  }

  main .title .hidden-br-pc {
    display: inline;
  }

  main .home-hero-img {
    width: 69.8rem;
    border-radius: 2.5rem;
    margin: 0 auto;
  }

  article {
    height: 44.5rem;
  }

  article .content-imgs {
    width: 38.5rem;
  }
}

@media screen and (max-width: 863px) {
  header nav {
    padding: 0 3.2rem;
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  header nav {
    gap: 0;
    justify-content: space-between;
  }

  nav .login {
    width: 8rem;
    height: 3.7rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
  }
  nav .add-link {
    width: 20rem;
    height: 3.7rem;
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
  }
  main {
    height: auto;
  }
  main .home-hero-img {
    width: 100%;
    border-radius: 2.5rem;
  }

  main .title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin: 0;
    padding: 2.8rem 0 2.4rem;
  }

  main .add-link {
    width: 20rem;
  }

  section {
    margin: 8rem 3.2rem;
    gap: 4rem;
  }
  article.mobile {
    display: grid;
    grid-template: repeat(3, auto) / repeat(1, auto);
    height: auto;
  }

  section article h2.mobile {
    font-size: 2.4rem;
    grid-row: 1/2;
    justify-self: start;
  }

  section article .content-imgs.mobile {
    width: 100%;
    flex-grow: 1;
    grid-row: 2/3;
  }

  section article p.mobile {
    font-size: 1.5rem;
    grid-row: 3/4;
    padding: 1.6rem 0;
  }

  article .hidden-br-mobile {
    display: none;
  }

  .footer-wrap {
    display: grid;
    padding: 3.2rem;
    align-items: start;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem 0;
  }

  .copyright {
    order: 1;
  }

  footer .imgs {
    display: flex;
    justify-content: end;
  }
}
