.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 36rem;
  height: 38.9rem;
  z-index: 100;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1.5rem;
}

.modal .img {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

/* .modal div {
  display: flex;
} */

.modal .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.modal .box div {
  width: 28rem;
  height: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.modal .box .selected {
  color: var(--primary);
  background-color: #f0f6ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .box div span {
  display: inline-block;
}

.modal .box div span:nth-child(1) {
  font-size: 1.6rem;
}

.modal .box div span:nth-child(2) {
  margin-left: 0.8rem;
  color: var(--gray2);
  font-size: 1.4rem;
}

.modal .title {
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: var(--black);
  font-weight: 700;
}

.modal .content {
  font-size: 1.4rem;
  color: var(--gray2);
  margin-bottom: 2.4rem;
}

.modal button {
  margin-top: 1.5rem;
  width: 28rem;
  height: 5.1rem;
  border: none;
  border-radius: 8px;
  color: var(--white);
  border-radius: 0.8rem;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
}

@media (max-width: 767px) {
  .modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
}
