.header {
  width: 100vw;
  height: 9.4rem;
  background: var(--gray5);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.header-container {
  width: calc(100% - 40rem);
  height: 100%;
  max-width: 192rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: 0 auto;
}

.logo {
  width: 13.3rem;
  height: 2.4rem;
  cursor: pointer;
}

.header button {
  width: 12.8rem;
  height: 5.4rem;
  padding: 1.6rem 2rem;
  color: var(--white);
  background: linear-gradient(90deg, #6d6afe, #6ae3fe);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-family: 600;
  cursor: pointer;
}

.header .user {
  display: flex;
  align-items: center;
}

.header .user img {
  margin-right: 6px;
}

/*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
@media (min-width: 863px) and (max-width: 1199px) {
  /*----------------------- header ---------------------------*/
  .header-container {
    min-width: 50rem;
    padding: 1.5rem 2.67vw 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 863px) {
  /*-------------------- header ----------------------------*/
  .header-container {
    width: calc(100% - 4rem);
    padding: 1.5rem 2rem 1.5rem;
  }
}

@media (max-width: 767px) {
  /*-------------------------header----------------------*/
  .header-container {
    width: calc(100% - 4rem);
    padding: 1.5rem 2rem 1.5rem;
  }

  .user span {
    display: none;
  }
}
