* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
}
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  --linkbrary-primary: #6d6afe;
  --linkbrary-red: #ff5b56;
  --linkbrary-black: #111322;
  --linkbrary-white: #ffffff;
  --linkbrary-gray-100: #373740;
  --linkbrary-gray-60: #9fa6b2;
  --linkbrary-gray-20: #ccd5e3;
  --linkbrary-gray-10: #e7effb;
  --linkbrary-bg: #f0f6ff;
  --linkbrary-bg-50: #f0f6ff80;
}
body {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Pretendard", "sans-serif";
  background-color: var(--linkbrary-bg);
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--linkbrary-black);
}
