:root {
  --primary: #6D6AFE;
  --light-primary: #6AE3FE;
  --red: #FF5B56;
  --black: #111322;
  --white: #FFFFFF;
  --gray1: #3E3E43;
  --gray2: #9FA6B2;
  --gray3: #CCD5E3;
  --gray4: #E7EFFB;
  --gray5: #F0F6FF;
  --gray6: #F5F5F5;
  --navbar-background: rgba(240, 246, 255, 0.5);
  --profile-email: #373740;
  --content-frame-description: #6B6B6B;
  --footer-text1: #676767;
  --footer-text2: #CFCFCF;
  --account-password-hide: #4B5563;
  --kakaotalk-background: #F5E14B;
  --card-since: #666666;
  --card-date: #333333;
  --search-bar-text: #666666;
  --emphasis-1-left: var(--primary);
  --emphasis-1-right: #FF9F9F;
  --emphasis-2-left: #FE8A8A;
  --emphasis-2-right: #A4CEFF;
  --emphasis-3-left: #FFD88B;
  --emphasis-3-right: #6FBAFF;
  --emphasis-4-left: #6D7CCD;
  --emphasis-4-right: #528885;
  --emphasis-5-left: #3dd1eb;
  --emphasis-5-right: #3ea5d0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  background-color: var(--gray5);
  word-break: keep-all;
  font-family: 'Pretendard';
  font-size: 1.6rem;
}

input {
  font-family: 'Pretendard';
  font-size: 1.6rem;
  outline-color: var(--primary);
}

a {
  text-decoration: none;
}

/* root */
.link-button {
  text-align: center;
  border-radius: 0.8rem;
  padding: 1.6rem 0;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray6);
  background: linear-gradient(90deg, var(--primary), var(--light-primary));
}

.emphasis-1 {
  background: linear-gradient(90deg, var(--emphasis-1-left), var(--emphasis-1-right));
}

.emphasis-2 {
  background: linear-gradient(90deg, var(--emphasis-2-left), var(--emphasis-2-right));
}

.emphasis-3 {
  background: linear-gradient(90deg, var(--emphasis-3-left), var(--emphasis-3-right));
}

.emphasis-4 {
  background: linear-gradient(90deg, var(--emphasis-4-left), var(--emphasis-4-right));
}

.emphasis-5 {
  background: linear-gradient(90deg, var(--emphasis-5-left), var(--emphasis-5-right));
}

.emphasis {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-header {
  display: flex;
  flex-direction: column;
  align-items: center
}

.site-header .header-title {
  text-align: center;
  font-size: 6.4rem;
  margin-top: 16.4rem;
  margin-bottom: 4rem;
}

.site-header .add-link {
  width: 35rem;
}

.site-header .header-content {
  width: 120rem;
  margin-top: 4rem;
}

.site-body {
  padding-top: 12rem;
  padding-bottom: 17rem;
  background-color: var(--white);
}

.site-body .content-frame {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  gap: 1rem;
  width: 100rem;
  height: 45rem;
  margin: 10rem auto;
}

.content-frame:first-child {
  margin-top: 0;
}

.content-frame:last-child {
  margin-bottom: 0;
}

.content-frame .title,
.content-frame .description {
  margin: 0;
  width: 29rem;
}

.content-frame .title {
  font-size: 4.8rem;
  }

.content-frame .description {
  line-height: 150%;
  font-weight: 500;
  color: var(--content-frame-description);
}

.content-frame img {
  width: 55rem;
  height: 100%;
}

.content-frame:nth-child(2n) img {
  order: -1;
}

global-footer {
  display: inline-block;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .site-header .header-title {
    width: 48rem;
    margin-top: 13.4rem;
  }

  .site-header .header-content {
    width: 70rem;
  }

  .site-body {
    padding-top: 8rem;
  }

  .site-body .content-frame {
    width: 70rem;
    height: 31.5rem;
  }

  .content-frame .title,
  .content-frame .description {
    width: 26.2rem;
  }

  .content-frame img {
    width: 38.5rem;
  }
}

@media (max-width: 767px) {
  header,
  main {
    margin: 0;
    padding: 0 3.2rem;
  }

  .site-header .link-button {
    font-size: 1.4rem;
    padding: 1rem 0;
  }

  .site-header .header-title {
    width: 24rem;
    margin: 9.1rem 0 2.4rem;
    font-size: 3.2rem;
  }

  .site-header .add-link {
    width: 20rem;
  }

  .site-header .header-content {
    width: 100%;
    margin-top: 2.4rem;
  }

  .site-body {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }

  .site-body .content-frame {
    gap: 2rem;
    width: 100%;
    height: auto;
    margin: 8rem 0;
  }

  .content-frame br {
    display: none;
  }

  .content-frame:first-child {
    margin-top: 0;
  }

  .content-frame:last-child {
    margin-bottom: 0;
  }

  .content-frame .title,
  .content-frame .description,
  .content-frame img {
    width: 100%;
  }

  .content-frame .title {
    order: 0;
    font-size: 2.4rem;
  }

  .content-frame .description {
    order: 2;
    font-size: 1.5rem;
  }

  .content-frame img,
  .content-frame:nth-child(2n) img {
    order: 1;
  }
}

/* signup, signin */
.account {
  margin: 24rem auto;
  max-width: 40rem;
  text-align: center;
}

.account-header {
  margin-bottom: 3.2rem;
}

.account-header .logo {
  width: 21rem;
}

.account-header .account-link {
  text-decoration: underline;
  font-weight: 600;
  color: var(--primary);
}

.account form {
  display: flex;
  flex-direction: column;
}

.account form .lb-label {
  text-align: left;
  margin: 0;
  font-size: 1.4rem;
}

.account form .lb-input {
  width: 100%;
  margin: 1.2rem 0 2.4rem 0;
  border: 0.1rem solid var(--gray3);
  border-radius: 0.8rem;
  padding: 1.8rem 1.5rem;
  color: var(--gray2);
}

.account form .lb-input:focus {
  color: var(--gray1);
}

.account .input-container {
  position: relative;
}

.account .input-container .eye-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3.5rem 1.5rem 0 0;
  width: 1.4rem;
  height: 1.4rem;
  font-size: 1rem;
}

.account .eye-container .fa {
  position: absolute;
  cursor: pointer;
  right: 0;
  color: var(--account-password-hide);
}

.account button[type="submit"] {
  margin-top: 0.6rem;
  margin-bottom: 1.6rem;
  border: 0;
  cursor: pointer;
  color: var(--white);
}

.account .forgot-password a {
  font-size: 1.4rem;
  color: var(--gray1);
}

.account .social-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 3.2rem;
  border: 0.1rem solid var(--gray3);
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--gray4);
  font-size: 1.4rem;
  color: var(--gray1);
}

.social-login .description {
  margin: 0;
}

.social-login .icon-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
  line-height: 4.2rem;
}

.icon-box a {
  width: 4.2rem;
  border-radius: 7rem;
}

.icon-box img {
  vertical-align: middle;
}

.icon-box .google {
  background-color: var(--white);
}

.icon-box .kakaotalk {
  background-color: var(--kakaotalk-background);
}

@media (max-width: 767px) {
  .account {
    max-width: 46.4rem;
    margin: 0 auto;
    padding: 12rem 3.2rem 10rem;
  }
}

/* shared */
.site-header .user-avatar {
  width: 6rem;
  margin-top: 11.4rem;
  margin-bottom: 1.2rem;
}

.site-header .username {
  margin: 0;
}

.site-header .bookmark-title {
  margin: 2rem 0 6rem;
  font-size: 4rem;
  font-weight: 600;
}

.site-body.bookmark-page {
  padding-top: 4rem;
  padding-bottom: 10rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem 2rem;
  max-width: 106rem;
  max-height: 106rem;
  overflow: hidden;
  margin: 4rem auto 0;
}

.cards .card-container {
  display: inline-block;
  position: relative;
  width: 34rem;
  height: 33.4rem;
}

@media (min-width: 768px) and (max-width: 1099px) {
  .cards {
    column-gap: 2.4rem;
  }
}

@media (max-width: 767px) {
  .site-body.bookmark-page {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }
  
  .cards {
    row-gap: 2rem;
    max-height: 320rem;
    margin-top: 3.2rem;
  }
}