.folder-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.folder-list {
  display: flex;
  align-items: baseline;
}

.folder {
  margin-right: 0.8rem;
}
