.heroSection {
  text-align: center;
  padding: 2rem 2.4rem 6rem;
  background-color: var(--linkbrary-white-smoke);
}

@media screen and (max-width: 767px) {
  .heroSection {
    padding: 1rem 2.4rem 4rem;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 2.4rem;
}

.cardWrapper {
  margin: 0 auto;
  max-width: 106rem;
}

@media screen and (max-width: 1100px) {
  .cardWrapper {
    max-width: 70.4rem;
  }
}

@media screen and (max-width: 767px) {
  .cardWrapper {
    max-width: 32.5rem;
  }
}
