.heroSection {
  text-align: center;
  padding: 2rem 2.4rem 6rem;
  background-color: var(--linkbrary-white-smoke);
}

@media screen and (max-width: 768px) {
  .heroSection {
    padding: 1rem 2.4rem 4rem;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 2.4rem;
}

.cardWrapper {
  margin: 0 auto;
  max-width: 106rem;
}

.emptySavedLink {
  padding: 6.5rem 0 13.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .emptySavedLink {
    padding: 6.25rem 0 17.8rem;
  }
}

@media screen and (max-width: 1199px) {
  .cardWrapper {
    max-width: 70.4rem;
  }
}
