.heroSection {
  text-align: center;
  padding: 6rem 0 9rem;
  height: 21.9rem;
  background-color: var(--linkbrary-white-smoke);
}

@media screen and (max-width: 768px) {
  .heroSection {
    padding: 2.4rem 0 4rem;
    height: 11.7rem;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 2.4rem;
}
