/* common layouts */
.inner {
  margin: 0 auto;
  width: calc(1920px - 40rem);
  height: 100%;
}
@media (max-width: 1920px) {
  .inner {
    max-width: calc(100% - 40rem);
  }
}
@media (max-width: 1100px) {
  .inner {
    max-width: calc(100% - 6.4rem);
  }
}

/* main hero */
.main {
  width: 100%;
  height: 100%;
}
.hero {
  padding: 2rem 0 6rem;
}
.hero.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .codeitAvatar {
  width: 6rem;
}
.hero .codeitAvatar img {
  display: block;
  width: 100%;
  height: auto;
}
.hero .atsign {
  margin: 1.2rem 0 2rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #000000;
}
.hero .marks {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.8rem;
  text-align: center;
  color: #000000;
}
@media (max-width: 767px) {
  .hero {
    padding: 1rem 0 4rem;
  }
  .hero .codeitAvatar {
    width: 4rem;
  }
  .hero .atsign {
    margin: 0.6rem 0 1rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #000000;
  }
  .hero .marks {
    font-size: 3.2rem;
    line-height: 3.8rem;
    letter-spacing: -0.02rem;
  }
}

/* main contents */
.contents {
  width: 100%;
  height: auto;
  background: var(--linkbrary-white);
}

/* main cardContainer */
.cardContainer {
  padding-bottom: 10rem;
}
.cardContainer.inner {
  max-width: 1060px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.4rem 2rem;
}
@media (max-width: 1465px) {
  .cardContainer.inner {
    max-width: calc(100% - 4rem);
  }
}
@media (max-width: 1100px) {
  .cardContainer.inner {
    max-width: calc(100% - 6.4rem);
  }
}
@media (max-width: 767px) {
  .cardContainer {
    padding-bottom: 6rem;
  }
}
