/*=========================== global =====================*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard';
}

a {
  text-decoration: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.container {
  margin: 14.875rem auto 0;
  width: 25rem;
}

.container .logo {
  display: block;
  margin: 0 auto;
  width: 13.13rem;
  height: 2.375rem;
  margin-bottom: 1rem;
}

.container > p {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.container > p a {
  font-weight: 600;
  color: #6d6afe;
  cursor: pointer;
  text-decoration: underline;
}

.container form label {
  display: block;
  width: 100%;
  height: 1rem;
  margin-bottom: 1rem;
}

.container form input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 3.438rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.container form div {
  position: relative;
}

.container form i {
  position: absolute;
  right: 5%;
  bottom: 22%;
  font-size: 1.3rem;
  cursor: pointer;
}

.container form button {
  width: 100%;
  height: 3.375rem;
  border-radius: 8px;
  border: none;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: white;
  margin-bottom: 1rem;
}

.container .to-forgot-password {
  display: block;
  width: 100%;
  cursor: pointer;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
}

.container .social-login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.125rem;
  padding: 0 1.5rem;
  border: 1px solid #e7effb;
  border-radius: 0.3rem;
  background-color: #e7effb;
}

.container .social-login p {
  color: #3e3e43;
  font-weight: 400;
}

.container .social-login .icon-box {
  display: flex;
  gap: 1rem;
}

.container .social-login .icon-box img {
  width: 2.625rem;
  height: 2.625rem;
}

@media (max-width: 464px) {
  .container {
    width: calc(100% - 4rem);
  }
}
