:root {
 --primary: #6D6AFE;
 --red: #FF5B56;
 --black: #111322;
 --white: #ffffff;
 --gray1: #3E3E43;
 --gray2: #9FA6B2;
 --gray3: #CCD5E3;
 --gray4: #E7EFFb;
 --gray5: #F0F6FF;  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

