@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.loading-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: var(--gray-9);
  color: #fff;
  justify-content: center;
  text-align: center;
}

.loading {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
