.image {
  height: auto;
}

.banner {
  background-color: var(--gray-5);
}

.banner .container {
  text-align: center;
  padding-top: 7rem;
}

.banner .title {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 8rem;
  margin-bottom: 4rem;
}

.banner .main-img {
  vertical-align: bottom;
}

.banner .highlight {
  background: linear-gradient(to right, var(--primary), #ff9f9f);
  color: transparent;
  -webkit-background-clip: text;
}

.banner .link-btn {
  display: block;
  margin: 0 auto;
  width: 35.1rem;
  background-image: linear-gradient(to right, var(--primary), #6ae3fe);
  border-radius: 0.8rem;
  color: white;
  line-height: 5.5rem;
  font-size: 1.8rem;
  margin-bottom: 6rem;
}

.content .container {
  padding-top: 12rem;
  width: fit-content;
  margin: 0 auto;
}

.card {
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  width: 100rem;
  height: 45rem;
}

.card .title {
  font-weight: 700;
  font-size: 4.8rem;
  margin-bottom: 2rem;
}

.card .title .line-break {
  display: block;
}

.card .desc {
  font-size: 1.6rem;
  line-height: 150%;
  color: #6b6b6b;
  word-break: keep-all;
  width: 27.7rem;
}

.card .desc .line-break {
  display: block;
}

.card:nth-child(2n) .title {
  order: 1;
}

.card:nth-child(2n) .desc {
  order: 2;
}

.card:nth-child(2n) img {
  order: 0;
}

.card:nth-child(1) .highlight {
  background: linear-gradient(to right, #fe8a8a, #a4ceff);
  color: transparent;
  -webkit-background-clip: text;
}

.card:nth-child(2) .highlight {
  background: linear-gradient(to right, #6fbaff, #ffd88b);
  color: transparent;
  -webkit-background-clip: text;
}

.card:nth-child(3) .highlight {
  background: linear-gradient(to right, #6d7ccd, #96abc9);
  color: transparent;
  -webkit-background-clip: text;
}

.card:nth-child(4) .highlight {
  background: linear-gradient(to right, #79d8ed, #99b8d6);
  color: transparent;
  -webkit-background-clip: text;
}

.footer {
  background-color: var(--black);
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  height: 16rem;
  padding: 3rem 10.4rem 0;
}

.copyright {
  color: #676767;
}

.info {
  color: #cfcfcf;
}

.icons {
  display: flex;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 1.3rem;
  display: flex;
  align-items: center;
}

@media (max-width: 1199px) {
  .container {
    padding: 0 3.2rem;
  }

  .header .container {
    width: 80.0rem;
    margin: 0 auto;
    padding: 0 3.2rem;
  }

  .header .logo {
    width: 13.3rem;
  }

  .header .login-btn {
    width: 12.8rem;
    height: 5.3rem;
    font-size: 1.6rem;
    line-height: 5.3rem;
  }

  .banner .container {
    padding-top: 4rem;
  }

  .banner .main-img {
    width: 65rem;
  }

  .banner .line-break {
    display: block;
  }

  .content .container {
    padding-top: 8rem;
  }

  .card {
    width: 68.5rem;
    height: 31.5rem;
  }

  .card .desc {
    width: 25rem;
  }

  .card img {
    width: 38.5rem;
  }

  .card .title {
    font-size: 4.5rem;
  }
}

@media (max-width: 868px) {
  .header .container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .header .container {
    height: 6.4rem;
  }

  .header .logo {
    width: 8.8rem;
  }

  .header .login-btn {
    width: 8rem;
    height: 3.7rem;
    font-size: 1.4rem;
    line-height: 3.7rem;
  }

  .banner .container {
    padding-top: 2.8rem;
  }

  .banner .title {
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-bottom: 2rem;
  }

  .banner .main-img {
    width: 100%;
  }

  .banner .link-btn {
    width: 20rem;
    font-size: 1.4rem;
    line-height: 3.7rem;
    margin-bottom: 3rem;
  }

  .content .container {
    padding-top: 4rem;
    padding-bottom: 8rem;
  }

  .card {
    width: 100%;
    height: fit-content;
    margin-bottom: 8rem;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card img:nth-child(1n) {
    width: 100%;
    margin-bottom: 2rem;
    order: 1;
  }

  .card .title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .card .title .line-break {
    display: inline;
  }

  .card .desc {
    font-size: 1.5rem;
    order: 2;
    width: 100%;
  }

  .card .desc .line-break {
    display: inline;
  }

  .footer .container {
    position: relative;
    padding: 3.2rem;
  }

  .copyright {
    position: absolute;
    bottom: 3.2rem;
    left: 3.2rem;
  }

  .info {
    width: 100%;
    display: flex;
  }

  .FAQ {
    margin: 0 auto;
  }
}

@media (max-width: 375px) {
  .header .container {
    width: 37.5rem;
  }

  .banner .container {
    width: 37.5rem;
  }

  .content .container {
    width: 37.5rem;
  }

  .footer .container {
    width: 37.5rem;
  }
}
