@use "styles/abstract/variables_color" as var-color;

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: calc(1920px - 80rem);
  height: 100%;
}
@media only screen and (max-width: 1199px) {
  .inner {
    max-width: calc(1199px - 54rem);
  }
}
@media only screen and (max-width: 768px) {
  .inner {
    max-width: calc(100% - 6.4rem);
  }
}

.main {
  width: 100%;
  height: 100%;
}
.hero {
  padding-top: 70px;
  background: var-color.$linkbrary-bg;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.hero .inner {
  display: flex;
  flex-direction: column;
}
.hero .title {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}
.hero .title span {
  background: linear-gradient(
    91.26deg,
    var-color.$linkbrary-primary 17.28%,
    #ff9f9f 74.98%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero .title p {
  display: inline-block;
}
.hero .title p:first-child {
  padding-right: 20px;
}
.hero .add {
  margin: 40px auto 0;
  width: 350px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 20px;
  background: linear-gradient(
    90.99deg,
    var-color.$linkbrary-primary 0.12%,
    #6ae3fe 101.84%
  );
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #f5f5f5;
  cursor: pointer;
}
.hero .imgContainer {
  margin: 89px auto 0;
  width: 100%;
  max-width: 1118px;
  border-radius: 25px;
  filter: drop-shadow(0px 0.4rem 2.5rem rgba(0, 0, 0, 0.08));
}
.hero .imgContainer .img {
  width: 100%;
  height: auto;
  transform: translateY(1rem);
}
@media only screen and (max-width: 1199px) {
  .hero {
    padding-top: 39px;
  }
  .hero .imgContainer {
    margin: 69px auto 0;
  }
  .hero .title p {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .hero {
    padding-top: 28px;
  }
  .hero .title {
    font-size: 32px;
    line-height: 42px;
  }
  .hero .add {
    margin: 24px auto 0;
    width: 200px;
    height: 37px;
    padding: 10px 16px;
    font-size: 14px;
    line-height: 17px;
  }
  .hero .imgContainer {
    margin: 37px auto 0;
  }
}

.contents {
  width: 100%;
  height: auto;
  background: var-color.$linkbrary-white;
  padding-top: 120px;
  padding-bottom: 170px;
}
.contents .inner {
  max-width: calc(1920px - 92.2rem);
}
.section {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "h i"
    "t i";
  align-content: center;
}
.section.right {
  grid-template-areas:
    "i h"
    "i t";
}
.section h2 {
  grid-area: h;
  align-self: end;
  width: 100%;
  max-width: 26.8rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 5.7rem;
  letter-spacing: -0.03rem;
  color: #000000;
}
.section.right h2 {
  justify-self: end;
}
.section h2 > span {
  display: block;
}
.section p {
  grid-area: t;
  align-self: start;
  width: 100%;
  max-width: 26.2rem;
  margin: 1rem 0 0;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
  color: #6b6b6b;
}
.section.right p {
  justify-self: end;
}
.section .imageContainer {
  width: 55rem;
  grid-area: i;
}
.section .imageContainer .image {
  width: 100%;
  height: auto;
}
.contents .save h2 span.gradient {
  background: linear-gradient(95.63deg, #fe8a8a 1.72%, #a4ceff 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.contents .manage,
.contents .share,
.contents .search {
  margin: 10rem auto 0;
}
.contents .manage h2 span.gradient {
  background: linear-gradient(95.63deg, #ffd88b 1.72%, #6fbaff 74.97%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.contents .share h2 span.gradient {
  background: linear-gradient(70deg, #6d7ccd 22%, #528885 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.contents .search h2 span.gradient {
  background: linear-gradient(60.63deg, #fe578f 1%, #68e8f9 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 1920px) {
  .section .imageContainer {
    justify-self: end;
  }
  .section.right .imageContainer {
    justify-self: start;
  }
}
@media only screen and (max-width: 1199px) {
  .contents {
    padding-top: 80px;
  }
  .contents .inner {
    max-width: calc(1199px - 500px);
  }
  .section .imageContainer {
    width: 100%;
    max-width: 385px;
  }
}
@media only screen and (max-width: 768px) {
  .contents {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .contents .inner {
    max-width: calc(100% - 6.4rem);
  }
  .section,
  .section.right {
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
      "h"
      "i"
      "t";
    align-content: center;
  }
  .section h2 {
    width: 100%;
    height: 2.9rem;
    font-size: 2.4rem;
    line-height: 2.864rem;
  }
  .section.right h2 {
    justify-self: start;
  }
  .section h2 > span {
    display: inline-block;
    padding-right: 5px;
  }
  .section .imageContainer,
  .section.right .imageContainer {
    margin: 2rem auto 0;
    max-width: 100%;
    height: auto;
  }
  .section p {
    margin: 1.6rem auto 0;
    display: block;
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .contents .manage,
  .contents .share,
  .contents .search {
    margin: 8.2rem auto 0;
  }
}
