@use "/src/styles/variables" as var;
@use "../Modal.module.scss";
@use "./EditFolderName.module.scss";

.deleteBtn {
  @extend .proceedBtn;
  background: var.$red;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
