.accountLabel {
  text-align: left;
  font-size: 1.4rem;
}

.inputContainer {
  position: relative;
}

.accountInput {
  width: 100%;
  margin: 1.2rem 0 2.4rem;
  border: 0.1rem solid var(--gray3);
  border-radius: 0.8rem;
  padding: 1.8rem 1.5rem;
  color: var(--gray2);
}

.accountInput:focus {
  color: var(--gray1);
}

.eyeToggler {
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: 3rem 1.5rem;
  color: var(--eye-toggler);
}
