@use "@/styles/utils";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 1.6rem 2rem;
  border: 0.1rem solid utils.$primary;
  border-radius: 1.5rem;
  background-color: #ffffff;
}

.inputContainer {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
}

.input {
  width: 100%;
  border-style: none;
  outline: none;
  background-color: transparent;
  color: utils.$gray-brt2;
}

.button {
  width: 8rem;
  height: 100%;
  border-radius: 0.8rem;
  background: linear-gradient(90.99deg, utils.$primary 0.12%, #6ae3fe 101.84%);
  color: #f5f5f5;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
}

@include utils.mobile {
  .container {
    padding: 0.8rem 1rem;
  }

  .inputContainer {
    gap: 0.8rem;
  }

  .input {
    font-size: 1.4rem;
  }
}
