.container {
  position: relative;
}

.searchInput {
  width: 100%;
  border: 0;
  border-radius: 1rem;
  padding: 1.5rem;
  padding-left: 4.2rem;
  color: var(--search-bar-text);
  background-color: var(--gray6);
}

.shareIcon {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
}

@media screen and (max-width: 767px) {
  .searchInput {
    padding: 1.3rem;
    padding-left: 3.8rem;
    font-size: 1.4rem;
  }

  .shareIcon {
    top: 1.35rem;
  }
}
