.container {
  position: relative;
}

.searchInput {
  width: 80rem;
  border: 1px solid var(--primary);
  border-radius: 1.5rem;
  padding: 2.25rem 11.2rem 2.25rem 5.2rem;
  background-color: var(--white);
}

.searchInput::placeholder {
  color: var(--gray2);
}

.shareIcon {
  position: absolute;
  top: 2.25rem;
  left: 2rem;
  width: 2rem;
  height: 2rem;
}

.button {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  padding: 1rem 1.55rem;
  font-size: 1.4rem;
  width: 8rem;
  height: 3.7rem;
}

@media screen and (max-width: 767px) {
  .searchInput {
    padding: 1.3rem;
    padding-left: 3.8rem;
    font-size: 1.4rem;
  }

  .shareIcon {
    top: 1.35rem;
  }
}
