.button {
  cursor: pointer;
  padding: 1.6rem 0;
  border-radius: 0.8rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--gray6);
  background: linear-gradient(90deg, var(--primary), var(--light-primary));
}
