.button {
  display: inline-block;
  background: linear-gradient(
    90.99deg,
    var(--color-primary) 0.12%,
    #6ae3fe 101.84%
  );
  height: 5.3rem;
  border-radius: 0.8rem;
  padding: 1.6rem 0;
  color: #f5f5f5;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.1rem;
  cursor: pointer;
}

.signin {
  width: 12.8rem;
}

.addlink-wrapper {
  text-align: center;
}

.add-link {
  width: 35rem;
  margin: 4rem auto 0;
}

.add {
  width: 8rem;
  height: 3.7rem;
  font-size: 1.4rem;
  line-height: 1.671rem;
  padding: 1.1rem 0;
}

.modal-button {
  width: 100%;
  height: 5.1rem;
  font-size: 1.6rem;
}

.delete-button {
  display: inline-block;
  background-color: var(--color-red);
  width: 100%;
  height: 5.1rem;
  border-radius: 0.8rem;
  padding: 1.6rem 0;
  color: #f5f5f5;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

@media (max-width: 768px) {
  .button-mobile {
    height: 3.7rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    padding: 1rem 0;
  }

  .signin {
    width: 8rem;
  }

  .add-link {
    width: 20rem;
    margin-top: 2.4rem;
  }
}
