@use "@/styles/utils";

.folderChip {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid utils.$primary;
  border-radius: 0.5rem;

  &:active {
    background-color: utils.$gray-brt4;
  }

  &.isActive {
    background-color: utils.$primary;
    color: #ffffff;
  }

  @include utils.mobile {
    height: 2.9rem;
    padding: 0.6rem 1rem;
    font-size: 1.4rem;
  }
}
