.container {
  padding-top: 4rem;
  padding-bottom: 10rem;
  background-color: var(--white);
}

.contents { 
  width: 106rem;
  margin: 0 auto;
}

.firstLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2.4rem;
  width: 100%;
}

.secondLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
}

.slTitle {
  font-size: 2.4rem;
  font-weight: 600;
}

.slOption {
  display: flex;
  gap: 1.2rem;
}

.optionButton {
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--white);
  color: var(--gray2);
}

.buttons {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.addFolder {
  cursor: pointer;
  color: var(--primary);
  background-color: var(--white);
  font-weight: 500;
}

.addFolderMobile {
  display: none;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 10rem;
  transform: translateX(-50%);
  border: 1px solid var(--white);
  border-radius: 2rem;
  padding: 0.8rem 2.4rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--primary);
}

.emptyMessage {
  margin: 6.5rem auto 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--black);

}

@media screen and (max-width:1199px) {
  .contents {
    width: 70.4rem;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-top: 2rem;
    padding-bottom: 6rem;
  }

  .contents {
    width: 100%;
    max-width: 32.5rem;
  }

  .firstLine {
    margin-top: 3.2rem;
  }

  .addFolder {
    display: none;
  }

  .addFolderMobile {
    display: block;
  }

  .secondLine {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2rem;
    margin-bottom: 2rem;
  }
}
