.modalOverlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 3.2rem 4rem;
  position: relative;
  border: 1px solid var(--modal-box-border);
  border-radius: 1.5rem;
  background-color: var(--white);
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}
