.gnb-container {
  background-color: var(--color-gray-5);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.gnb {
  max-width: 1920px;
  margin: 0 auto;
  height: 9.4rem;
  background-color: var(--color-gray-5);
  padding: 0 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 13.3rem;
  height: auto;
}

.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;
}

.image {
  object-fit: cover;
}

.user-image {
  display: inline-block;
  position: relative;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.user-email {
  display: inline-block;
  font-weight: 400;
  font-size: 1.4rem;
}

@media (max-width: 1200px) {
  .gnb {
    justify-content: center;
    gap: 53.8rem;
    padding: 0;
  }
}

@media (max-width: 863px) {
  .gnb {
    padding: 0 3.2rem;
    justify-content: space-between;
    gap: 0;
  }
}

@media (max-width: 768px) {
  .gnb {
    height: 6.3rem;
  }

  .logo {
    width: 7.758rem;
    height: auto;
  }

  .user-email {
    display: none;
  }
}
