.introduce-board {
  background-color: var(--color-gray-5);
  height: auto;
  padding-top: 7rem;
}

.title {
  font-size: 6.4rem;
  font-weight: 700;
  text-align: center;
  line-height: 8rem;
}

.gradient {
  background: -webkit-linear-gradient(
    1.26deg,
    var(--color-primary) 17.28%,
    #ff9f9f 74.98%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.board-image {
  display: block;
  width: 120rem;
  height: 59rem;
  margin: 4rem auto 0;
}

@media (max-width: 1200px) {
  .introduce-board {
    padding-top: 4rem;
  }

  .line-change {
    display: block;
  }

  .board-image {
    width: 69.8rem;
    height: 34.3rem;
  }
}

@media (max-width: 768px) {
  .introduce-board {
    padding: 2.8rem 3.2rem 0;
  }

  .title {
    font-size: 3.2rem;
    line-height: 4.2rem;
  }

  .board-image {
    width: 100%;
    height: auto;
    margin-top: 2.4rem;
  }
}
