.user {
  display: flex;
  align-items: center;
}

.user img {
  margin-right: 6px;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .user span {
    display: none;
  }
}
