.modalOverlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  z-index: 2;
  background-color: var(--modal-overlay);
}

.modal {
  padding: 3.2rem 4rem;
  border: 1px solid var(--modal-box-border);
  border-radius: 1.5rem;
  position: relative;
  background-color: var(--white);
}

.closeButton {
  cursor: pointer;
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--white);
}
