.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  width: 28rem;
  margin-bottom: 2.4rem;
}

.modalTitle {
  font-size: 2rem;
}

.modalDescription {
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--gray2);
}

.icons {
  display: flex;
  gap: 3.2rem;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.iconName {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
