.modal {
  border: 0.1rem solid var(--color-gray-3);
  width: 36rem;
  border-radius: 1.5rem;
  padding: 3.2rem 4rem;
  text-align: center;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  cursor: pointer;
}

.modal-name {
  font-weight: 700;
  font-size: 2rem;
  color: #373740;
}

.modal-input {
  width: 100%;
  height: 6rem;
  border-radius: 0.8rem;
  border: 1px solid var(--color-gray-3);
  padding: 1.8rem 1.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  color: #373740;
  margin: 2.4rem 0 1.5rem;
}

.modal-input:focus {
  outline-style: none;
  border-color: var(--color-primary);
}

.small-name {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-gray-2);
  margin: 0.8rem 0 2.4rem;
}

.icon {
  cursor: pointer;
}

.icons-box {
  display: flex;
  gap: 3.2rem;
  justify-content: center;
}

.icon-image {
  width: 4.2rem;
  height: 4.2rem;
  margin-bottom: 1rem;
}

.icon-name {
  font-weight: 400;
  font-size: 1.3rem;
  color: #373740;
}

.folder-list {
  margin: 2.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.folder {
  width: 100%;
  height: 4rem;
  border-radius: 0.8rem;
  padding: 0.8rem;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.folder:hover {
  background-color: var(--color-gray-5);
}

.folder-selected {
  background-color: var(--color-gray-5);
}

.folder-name {
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  color: #373740;
  margin-right: 0.8rem;
}

.folder-name-selected {
  color: var(--color-primary);
}

.link-count {
  display: inline-block;
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--color-gray-2);
}

.check-icon {
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  top: 1.3rem;
  right: 0.8rem;
}
