@use "@/styles/utils";

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  border-radius: 1rem;
  background-color: #f5f5f5;
  gap: 1rem;
}

.searchInput {
  width: 100%;
  padding: 0;
  border-style: none;
  outline: none;
  background-color: transparent;
  color: #666666;
}

@include utils.mobile {
  .container {
    gap: 0.6rem;
  }
}
