.loading {
  position: relative;
  margin: 0 auto;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: 2s linear rotate infinite;
}
