.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
}

.selected {
  font-size: 2.4rem;
  font-weight: 600;
}

.container .icons {
  width: 19.2rem;
  height: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .icons > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.container .icons span {
  display: inline-block;
  color: var(--gray2);
}

.container .icons img {
  display: inline-block;
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem 0;
  }
}
