/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./app/folder/Folder.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
.Folder_main-container__GyX4z {
  max-width: 106rem;
  width: cal(100% - 38rem);
  margin: 4rem auto 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  /*----------------------- header ---------------------------*/
  .Folder_main-container__GyX4z {
    max-width: 70.4rem;
  }
}

@media (max-width: 767px) {
  /*-------------------------header----------------------*/
  .Folder_main-container__GyX4z {
    max-width: 32.5rem;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./components/AddLinkBar.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.AddLinkBar_input-box__QqgVS {
  width: 100vw;
  padding-top: 6rem;
  height: 21.9rem;
  background-color: var(--gray5);
  transition: all 1s;
}

.AddLinkBar_bottom__4etp3 {
  position: fixed;
  bottom: 0;
  z-index: 1;
  height: 11.7rem;
  padding: 0;
  display: flex;
  align-items: center;
}

.AddLinkBar_form__6P4h3 {
  width: 78rem;
  height: 6.9rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.AddLinkBar_input-box__QqgVS input {
  display: block;

  padding-left: 4rem;
  width: 80rem;
  height: 6.9rem;
  border-radius: 1.5rem;
  border: 0.1rem solid var(--primary);
  flex: 1 1;
  background: url("/link.svg") #f5f5f5 no-repeat scroll 1.5rem 2.4rem;
}

.AddLinkBar_input-box__QqgVS img {
  margin-right: -3rem;
  z-index: 1;
}

.AddLinkBar_input-box__QqgVS button {
  width: 8rem;
  height: 3.7rem;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  color: var(--white);
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 2rem;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .AddLinkBar_form__6P4h3 {
    width: calc(100% - 6.4rem);
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .AddLinkBar_form__6P4h3 {
    width: calc(100% - 6.4rem);
    margin: 0 auto;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./components/AddPageChip.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.AddPageChip_button__T_srd {
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  margin-right: 0.8rem;
  border: 0.1rem solid var(--primary);
  background-color: var(--white);
  cursor: pointer;
  display: inline-block;
}

.AddPageChip_selected__vWA_k {
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.8rem 1.2rem;
  margin-right: 0.8rem;
  border: 0.1rem solid var(--primary);
  color: var(--white);
  background-color: var(--primary);
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 767px) {
  .AddPageChip_button__T_srd {
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./layout/UpdateModal.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.UpdateModal_backdrop__M3PL5 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.UpdateModal_modal__sqFj9 {
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 36rem;
  height: 24.4rem;
  z-index: 100;
  overflow: hidden;
  padding: 2rem;
  border-radius: 1.5rem;
}

.UpdateModal_modal__sqFj9 .UpdateModal_img__uEiQc {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.UpdateModal_modal__sqFj9 div {
  display: flex;
}

.UpdateModal_modal__sqFj9 .UpdateModal_content__JfimC {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UpdateModal_modal__sqFj9 p {
  font-size: 2rem;
  margin-bottom: 2.4rem;
}

.UpdateModal_modal__sqFj9 input {
  padding: 1.8rem 1.5rem;
  width: 28rem;
  height: 6rem;
  border: 1px solid #6d6afe;
}

.UpdateModal_modal__sqFj9 button {
  margin-top: 1.5rem;
  width: 28rem;
  height: 5.1rem;
  border: none;
  background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
  border-radius: 8px;
  color: var(--white);
  border-radius: 0.8rem;
}

@media (max-width: 767px) {
  .UpdateModal_modal__sqFj9 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
  }
}

/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./components/AddPage.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.AddPage_page__gvrOM {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AddPage_page__gvrOM .AddPage_add-folder__QOth4 {
  font-size: 2rem;
  color: var(--primary);
  cursor: pointer;
  border: none;
  background-color: var(--white);
}

@media (max-width: 767px) {
  .AddPage_page__gvrOM .AddPage_add-folder__QOth4 {
    width: 12.8rem;
    height: 3.5rem;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 14rem;
    margin: 0 auto;
    z-index: 1;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 2rem;
    border: 0.1rem solid var(--white);
  }
  .AddPage_page__gvrOM .AddPage_chip-box__RtZAF {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem 0.4rem;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./components/SearchBar.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.SearchBar_input__QaSe5 {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  border: none;
  background: url("/Search.svg") #f5f5f5 no-repeat scroll 7px 20px;
  padding: 0 0 0 30px;
  margin-bottom: 4rem;
}

