.searchBarContainer {
  width: 106rem;
  height: 4.8rem;
  margin: 4rem auto;
}

.cardContainer {
  width: 106rem;
  margin: 4rem auto;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2.4rem;
  column-gap: 2rem;
}

@media (max-width: 1100px) {
  .searchBarContainer {
    width: 70.4rem;
    height: 5.4rem;
  }
  .cardContainer {
    width: 70.4rem;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.4rem;
  }
}

@media (max-width: 768px) {
  .searchBarContainer {
    width: 32.5rem;
    height: 4.3rem;
    margin: 2rem auto;
  }

  .cardContainer {
    width: 32.5rem;
    margin: 3.2rem auto;
    margin-bottom: 6rem;
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
