.modalContainer {
  width: 36rem;
  height: fit-content;
  background-color: #ffffff;
  padding: 3.5rem 4rem;
  position: relative;
  border: 0.1rem solid #ccd5e3;
  border-radius: 1.5rem;
}

.closeIconContainer {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.closeIcon {
  width: 100%;
  display: block;
  object-fit: cover;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.title {
  width: 28rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
  color: #373740;
  margin: 0;
}

.subTitle {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.2rem;
  color: var(--linkbrary-blue-gray);
  margin: 0;
}
