/* common layouts */
.inner {
  margin: 0 auto;
  width: calc(1920px - 40rem);
  height: 100%;
}
@media (max-width: 1920px) {
  .inner {
    max-width: calc(100% - 40rem);
  }
}
@media (max-width: 1100px) {
  .inner {
    max-width: calc(100% - 6.4rem);
  }
}
/* searchBar(container) */
.searchBar {
  padding: 4rem 0 4rem;
}

@media (max-width: 767px) {
  .searchBar {
    padding: 2rem 0 3.2rem;
  }
}
/* search */
.search {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  background: #f5f5f5;
  border-radius: 10px;
}
.search .searchIcon {
  width: 12px;
  margin-left: 18px;
}
.search .searchIcon img {
  width: 100%;
  height: auto;
  display: block;
}
.search .searchInput {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #666666;
}
.search .searchInput input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
  border: none;
  background: transparent;
}
.search .searchInput input:focus {
  outline: none;
}
