@import url("../global_style.css");

* {
  font-family: "Pretendard-Regular";
}

body {
  background-color: var(--library-white-smoke);
  margin: 0;
}

main {
  margin-top: 23.8rem;
  text-align: center;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.linkbrary-logo {
  height: 3.8rem;
}

.sign-prompt {
  padding: 1.6rem 0;
}

.sign-prompt a {
  color: var(--linkbrary-primary);
  margin-left: 0.8rem;
}

form {
  font-size: 1.4rem;
}

form label {
  display: block;
  text-align: left;
  font-size: 1.4rem;
  margin: 0 0 1.2rem;
}

form .input-field {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

form input {
  width: 100%;
  height: 5.4rem;
  border: 0.1rem solid var(--library-light-blue-gray);
  border-radius: 0.8rem;
  padding: 1.8rem 1.5rem;
  font-size: 1.6rem;
  color: var(--library-blue-gray);
}

form input:focus {
  border: 0.1rem solid var(--linkbrary-primary);
  outline: none;
  color: var(--library-dark-slate-gray);
}

.password-input-wrap {
  position: relative;
}

.password-input-wrap > i {
  font-size: 1.6rem;
  color: #4b5563;
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}

form .submit-button {
  color: #f5f5f5;
  margin: 3rem 0 1.6rem;
  width: 100%;
  background: linear-gradient(
    90.99deg,
    var(--linkbrary-primary) 0.12%,
    #6ae3fe 101.84%
  );
  border: none;
  border-radius: 0.8rem;
  padding: 1.6rem 2rem;
}

form .link-find-password {
  text-decoration: none;
  color: var(--library-dark-slate-gray);
}

.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
  padding: 1.2rem 2.4rem;
  background-color: var(--library-alice-blue);
  border: 0.1rem solid var(--library-light-blue-gray);
  border-radius: 0.8rem;
}

.social-icons {
  display: flex;
  gap: 1.6rem;
  height: 4.2rem;
}

@media screen and (max-width: 767px) {
  body {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
  }
  main {
    margin-top: 12rem;
    text-align: center;
  }
}
