@use "styles/abstract/variables_color" as var-color;
@use "styles/abstract/mixins" as mixin;

.inner {
  @include mixin.inner-desktop-mobile(40rem, 20rem, 6.4rem);
}

.footer {
  width: 100%;
  height: 16rem;
  background: var-color.$linkbrary-black;

  .inner {
    height: 1.8rem;
    display: flex;
    justify-content: space-between;
    transform: translateY(3.2rem);

    .copyright {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: #676767;
    }
    .policy {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 1.8rem;
      color: #cfcfcf;
      display: flex;
      gap: 3rem;

      .privacy,
      .faq {
        text-decoration-line: none;
      }
      .privacy:link,
      .privacy:active,
      .privacy:hover,
      .privacy:visited,
      .faq:link,
      .faq:active,
      .faq:hover,
      .faq:visited {
        color: #cfcfcf;
      }
    }
    .sns {
      display: flex;
      gap: 1.23rem;
      justify-content: center;
      align-items: center;
      height: 1.8rem;

      .facebook,
      .twitter,
      .youtube,
      .instagram {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
@include mixin.desktop {
  .footer {
    .inner {
      max-width: calc(100% - 20.8rem);
    }
  }
}
@include mixin.mobile {
  .footer {
    .inner {
      max-width: calc(100% - 6.4rem);
      position: relative;

      .copyright {
        position: absolute;
        top: 78px;
        left: 0;
      }
    }
  }
}
