.button {
  width: 100%;
  height: inherit;
  border-radius: 0.8rem;
  color: white;
  cursor: pointer;
  font-size: inherit;
}

.red {
  background-color: red;
}

.blue {
  background-image: linear-gradient(to right, #6d6afe, #6ae3fe);
}
