.card {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.08);
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.5s;
}

.card a {
  text-decoration: none;
  color: #000000;
}

.card:hover {
  background-color: var(--gray-brt5);
}

.card:hover .cardImg {
  transform: scale(1.2);
}

.imageContainer {
  width: 34rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.5s;
  background-image: url("/src/assets/capture-linkbrary.png");
}

.star {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3.4rem;
  height: 3.4rem;
}

.contentContainer {
  width: 34rem;
  height: 13.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.passedTime {
  font-size: 1.3rem;
  color: #666666;
}

.btnMore {
  width: 2.1rem;
  height: 1.7rem;
  padding: 0;
  border-style: none;
  background-color: transparent;
  background-image: url("/src/assets/show-more.png");
  background-size: cover;
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}

.content {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 4.9rem;
}

.createdDate {
  font-size: 1.5rem;
  color: #333333;
}

@media (max-width: 768px) {
  .imageContainer {
    width: 32.5rem;
    height: 19.2rem;
  }

  .star {
    width: 3rem;
    height: 3rem;
  }

  .contentContainer {
    width: 32.5rem;
    height: 13.5rem;
  }
}
