/* footer 시작 */
footer {
  background-color: #111322;
  padding: 32px 104px 108px;
}

.footerItems {
  display: flex;
  height: 20px;
  justify-content: space-between;
  align-items: center;
}

.companyName {
  color: #676767;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footerCenter a {
  color: #cfcfcf;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
.footerRight {
  display: flex;
  gap: 12px;
}
.footerCenter a:first-child {
  margin-right: 30px;
}

.mobile {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  footer {
    padding: 32px 104px 108px;
  }
}

/* Mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  footer {
    height: 160px;
    padding: 32px;
    box-sizing: border-box;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .footerItems.mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 96px;
    }

    .footerTop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .footerCenter a:first-child {
      margin: 0px;
    }

    .footerRight {
      align-items: center;
    }

    .companyName {
      width: 100%;
      display: flex;
      justify-content: flex-start;
    }
  }
}
