.gnb {
  height: 9.4rem;
  padding: 0 20rem;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--gray-brt5);
  opacity: 0.9;
}

.gnbContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnbContainer > a {
  text-decoration: none;
}

.logo {
  width: 13.3rem;
  height: 2.4rem;
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--gray-brt1);
}

.userImg {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100%;
}

.userEmail {
  font-size: 1.4rem;
}

/* Tablet 반응형 */
@media (max-width: 1200px) {
  .gnb {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .gnbContainer {
    width: 79.9rem;
  }
}

/* Tablet 반응형(768~863px) */
@media (max-width: 863px) {
  .gnbContainer {
    width: 100%;
  }
}

/* Mobile 반응형 */
@media (max-width: 768px) {
  .gnb {
    height: 6.3rem;
  }

  .logo {
    width: 8.867rem;
    height: 1.6rem;
  }

  .userEmail {
    display: none;
  }
}
