@use "styles/abstract/mixins" as mixin;

.nullCardWrapper {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 135px;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 20px;
}
.cardWrapper {
  width: 100%;
  padding-bottom: 99px;
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px 20px;
}

@include mixin.tablet {
  .cardWrapper {
    max-width: calc(100% - 6.4rem);
  }
}

@include mixin.mobile {
  .nullCardWrapper {
    padding-top: 62.5px;
    padding-bottom: 178px;
  }
}
