body {
  margin: 0;
}

header {
  background-color: var(--library-white-smoke);
}

main {
  margin: 0 auto;
  max-width: 106rem;
}

.hero-section {
  text-align: center;
  padding: 2rem 0 6rem;
}
.user {
  margin: 2rem auto;
}

.codeit-avatar {
  width: 6.4rem;
  height: 6.4rem;
}

.user-name {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin: 1.2rem 0 0;
}

.page-heading {
  margin: 0;
}

@media screen and (max-width: 1100px) {
  main {
    max-width: 70.4rem;
  }
}

@media screen and (max-width: 767px) {
  main {
    max-width: 32.5rem;
  }

  .hero-section {
    text-align: center;
    padding: 1rem 0 4rem;
  }
  .user {
    margin: 1rem auto;
  }

  .codeit-avatar {
    width: 6.4rem;
    height: 6.4rem;
  }

  .user-name {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin: 1.2rem 0 0;
  }
}
