* {
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

.gnb {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 93px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 200px;
  background-color: #f0f6ff;
  z-index: 10;
}

.email {
  display: inline-block;
}

.account {
  display: flex;
  align-items: center;
  gap: 6px;
}
/* gnb바 끝 */

/*Header 시작*/
header {
  background-color: #f0f6ff;
  padding-top: 20px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.corporate {
  margin: 0 0 8px 0;
}

.bookmark {
  margin: 0;
}

/* 메인 시작 */

main {
  padding: 40px 190px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-box {
  position: relative;
}

.search {
  width: 100%;
  height: 48px;
  border-radius: 10px;
  padding: 15px 0px 15px 42px;
  background: #f5f5f5;
  border: none;
  margin-bottom: 40px;
}

.search-box img {
  display: inline-box;
  position: absolute;
  top: 18px;
  left: 18px;
}

.card-container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 24px;
  grid-column-gap: 20px;
  filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.08));
}

a.link {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
  cursor: pointer;
}

a.transfer {
  cursor: pointer;
}
.card-img {
  display: inline-block;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.card {
  position: relative;
}
.star {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.off {
  display: none;
}

.text-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 15px 20px;
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 0px 0px 15px 15px;
  margin-top: -4px;
}

.upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  color: #666666;
}

.middle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #000000;
}

.time {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  color: #333333;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  main {
    width: 100%;
    padding: 40px 32px 0;
    align-items: center;
  }
}

.search-box {
  width: 100%;
}

@media screen and (min-width: 1100px) and (max-width: 1199px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  main {
    width: 100%;
    padding: 40px 32px 0;
    align-items: center;
  }
}

.search-box {
  width: 100%;
}

/* Mobile */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .gnb {
    padding: 0 32px;
    width: 100%;
  }
  .card-container {
    width: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 5px 25px rgba(0, 0, 0, 0.08));
  }

  main {
    width: 100%;
    padding: 20px 32px 0;
    align-items: center;
  }

  .search-box {
    width: 325px;
  }
}
