@use "@/styles/abstract/variables_color" as var-color;
@use "@/styles/abstract/mixins" as mixin;

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .modalWrapper {
    width: 360px;
    height: auto;
    background-color: var-color.$linkbrary-white;
    padding: 32px 40px;
    position: relative;
    border: 1px solid var-color.$linkbrary-gray-20;
    border-radius: 15px;

    .closeWrapper {
      position: absolute;
      right: 16px;
      top: 16px;
      width: 24px;
      height: 24px;
      cursor: pointer;

      .image {
        @include mixin.image;
      }
    }
    .contents {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
