.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(---gray7);
}

.modalTitle {
  margin-bottom: 2.4rem;
  font-size: 2rem;
}

.modalInput {
  margin-bottom: 1.5rem;
  border: 1px solid var(--primary);
  border-radius: 0.8rem;
  padding: 1.8rem 1.5rem;
  width: 28rem;
  height: 6rem;
}
