/*!***********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[12].use[3]!./app/globals.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************/
:root {
  --primary: #6d6afe;
  --red: #ff5b56;
  --black: #111322;
  --white: #ffffff;
  --gray1: #3e3e43;
  --gray2: #9fa6b2;
  --gray3: #ccd5e3;
  --gray4: #e7effb;
  --gray5: #f0f6ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*!***************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./components/LoginStatus.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************/
.LoginStatus_user__nBEuR {
  display: flex;
  align-items: center;
}

.LoginStatus_user__nBEuR img {
  margin-right: 6px;
}
@media (max-width: 767px) {
  .LoginStatus_user__nBEuR span {
    display: none;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./layout/GlobalNavigationBar.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************/
.GlobalNavigationBar_header__IPmoS {
  width: 100vw;
  height: 9.4rem;
  background: var(--gray5);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.GlobalNavigationBar_header-container__oi25K {
  width: calc(100% - 40rem);
  max-width: 192rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  margin: 0 auto;
}

.GlobalNavigationBar_logo__wVGmS {
  width: 13.3rem;
  height: 2.4rem;
  cursor: pointer;
}

.GlobalNavigationBar_header__IPmoS button {
  width: 12.8rem;
  height: 5.4rem;
  padding: 1.6rem 2rem;
  color: var(--white);
  background: linear-gradient(90deg, #6d6afe, #6ae3fe);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-family: 600;
  cursor: pointer;
}

.GlobalNavigationBar_header__IPmoS .GlobalNavigationBar_user__Lg7M2 {
  display: flex;
  align-items: center;
}

.GlobalNavigationBar_header__IPmoS .GlobalNavigationBar_user__Lg7M2 img {
  margin-right: 6px;
}

/*태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)  */
@media (min-width: 863px) and (max-width: 1199px) {
  /*----------------------- header ---------------------------*/
  .GlobalNavigationBar_header-container__oi25K {
    min-width: 50rem;
    padding: 1.5rem 2.67vw 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 863px) {
  /*-------------------- header ----------------------------*/
  .GlobalNavigationBar_header-container__oi25K {
    width: calc(100% - 4rem);
    padding: 1.5rem 2rem 1.5rem;
  }
}

@media (max-width: 767px) {
  /*-------------------------header----------------------*/
  .GlobalNavigationBar_header-container__oi25K {
    width: calc(100% - 4rem);
    padding: 1.5rem 2rem 1.5rem;
  }

  .GlobalNavigationBar_user__Lg7M2 span {
    display: none;
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[7].use[3]!./layout/GlobalFooter.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
.GlobalFooter_footer__3O4tm {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 16rem;
  background-color: var(--black);
}

.GlobalFooter_footer__3O4tm .GlobalFooter_footer-container__y5gFm {
  width: calc(100% - 20.8rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 192rem;
  margin: 0 auto;
  height: 5.125rem;
}

.GlobalFooter_footer__3O4tm .GlobalFooter_footer-container__y5gFm .GlobalFooter_codeit__Xc01d {
  color: #676767;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-align: center;
}

.GlobalFooter_footer__3O4tm a {
  color: var(--white);
  margin-right: 0.938rem;
}

.GlobalFooter_footer__3O4tm .GlobalFooter_icons__vKB_4 {
  width: 8.125rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.GlobalFooter_footer__3O4tm .GlobalFooter_icons__vKB_4 img {
  cursor: pointer;
}

@media (max-width: 767px) {
  .GlobalFooter_footer__3O4tm .GlobalFooter_footer-container__y5gFm {
    position: relative;
    width: calc(100% - 4rem);
  }

  .GlobalFooter_footer__3O4tm .GlobalFooter_footer-container__y5gFm .GlobalFooter_codeit__Xc01d {
    position: absolute;
    top: 6rem;
    left: 0;
  }
}

