@font-face {
  font-family: "Pretendard-Black";
  src: url("assets/fonts/Pretendard-Black.otf");
}
@font-face {
  font-family: "Pretendard-Bold";
  src: url("assets/fonts/Pretendard-Bold.otf");
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("assets/fonts/Pretendard-ExtraBold.otf");
}
@font-face {
  font-family: "Pretendard-ExtraLight";
  src: url("assets/fonts/Pretendard-ExtraLight.otf");
}
@font-face {
  font-family: "Pretendard-Light";
  src: url("assets/fonts/Pretendard-Light.otf");
}
@font-face {
  font-family: "Pretendard";
  src: url("assets/fonts/Pretendard-Medium.otf");
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("assets/fonts/Pretendard-Regular.otf");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("assets/fonts/Pretendard-SemiBold.otf");
}
@font-face {
  font-family: "Pretendard-Thin";
  src: url("assets/fonts/Pretendard-Thin.otf");
}

:root {
  /* color variables */
  --black: #111322;
  --white: #ffffff;
  --primary: #6d6afe;
  --red: #ff5b56;
  --gray-1: #f0f6ff;
  --gray-2: #e7effb;
  --gray-3: #ccd5e3;
  --gray-4: #9fa6b2;
  --gray-5: #3e3e43;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Pretendard";
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  background-color: var(--gray-1);
  position: sticky;
  z-index: 1;
  top: 0;
  transition: top 0.3s, box-shadow 0.4s ease-out;
}

header.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  width: 100%;
  background-color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
}
