@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

:root {
  font-family: Pretendard, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}
