.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 40rem;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 2rem;
}
