.ownerBoard {
  width: 100%;
  height: 23.9rem;
  padding: 2rem 0 6rem;
  text-align: center;
  background-color: var(--color-gray-5);
}

.image {
  object-fit: cover;
}

.ownerImage {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
}

.ownerName {
  font-weight: 400;
  font-size: 1.6rem;
  color: #000000;
  margin: 1.2rem 0 2rem;
}

.folderName {
  font-weight: 600;
  font-size: 4rem;
  color: #000000;
}

.folder {
  padding: 4rem 0;
}

.linksWrapper {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 4rem;
}

@media (max-width: 768px) {
  .ownerBoard {
    height: 16.1rem;
    padding: 1rem 0 4rem;
  }

  .ownerImage {
    width: 4rem;
    height: 4rem;
  }

  .ownerName {
    font-size: 1.4rem;
    margin: 0.6rem 0 1rem;
  }

  .folderName {
    font-size: 3.2rem;
  }
}
