@import url("/styles/global-style.css");

body {
  height: 98.2rem;
  padding-top: 23.8rem;
  background-color: var(--gray-brt5);
}

.wrapper-container {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkbrary-logo img {
  width: 21.058rem;
  height: 3.8rem;
  margin-bottom: 1.6rem;
}

.verify-member {
  margin-bottom: 3rem;
  display: flex;
  align-items: flex-start;
  gap: 0.8rem;
}

.change-form-signin-and-up {
  font-weight: 600;
  color: var(--primary);
}

.form-signin-and-up {
  width: 100%;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-bottom: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.input-container label {
  font-size: 1.4rem;
}

input {
  width: 100%;
  height: 5.5rem;
  padding: 1.8rem 1.5rem;
  color: var(--gray-brt2);
  font-family: "Pretendard", sans-serif;
  font-weight: 400;
}

input:focus {
  outline: none;
  border-color: var(--primary);
  color: var(--gray-brt1);
}

input,
.social-signin-and-up {
  border-width: 0.1rem;
  border-radius: 0.8rem;
  border-style: solid;
  border-color: var(--gray-brt3);
}

.input-password-container {
  position: relative;
}

.toggle-password {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.5rem;
}

.button-signin-and-up {
  width: 100%;
  height: 5.4rem;
  margin-top: 3rem;
  padding: 0;
  border-width: 0;
  border-radius: 0.8rem;
  font-family: "Pretendard", sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  color: #f5f5f5;
  background: linear-gradient(90.99deg, var(--primary) 0.12%, #6ae3fe 101.84%);
}

.forgot-password {
  font-size: 1.4rem;
  margin-bottom: 3.2rem;
  color: var(--gray-brt1);
  text-decoration: none;
}

.social-signin-and-up {
  width: 100%;
  padding: 1.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  background-color: var(--gray-brt4);
  color: var(--gray-brt1);
}

.box-sns {
  height: 4.2rem;
  display: flex;
  gap: 1.6rem;
}

.img-sns-logo {
  width: 4.2rem;
  height: 4.2rem;
}

/* Mobile 반응형 */
@media (max-width: 768px) {
  body {
    height: 84.4rem;
    padding: 12rem 3.2rem;
  }

  .forgot-password {
    color: #444444;
  }
}
